{% extends "base.html" %}

{% load i18n %}
{% load generate_uuid %}

{% block title %}{% translate "Location picker" %}{% endblock %}

{% block content %}

<div class="m-pageheader d-md-flex flex-md-row-reverse align-items-center justify-content-between">
	<div class="d-grid gap-1 d-md-flex justify-content-md-end">
	</div>

	<h1>{% translate "Location picker" %}</h1>
</div>

{% if warning %}

	<div class="alert alert-warning">
		{{ warning }}
	</div>
{% elif shapes %}
<div class="row">
	<div class="col-12">
		<p>
			{% translate "The provided location is contained inside the following shapes:" %}
		</p>


		<div class="card">
			<div class="card-header">
				<ul class="nav nav-tabs card-header-tabs">
					{% for shape in shapes %}
					<li class="nav-item">
					<a class="nav-link{%if shape_type == shape.type.key %} active{%endif%}"{%if shape_type == shape.type.key %} aria-current="page"{%endif%} href="{% querystring shape_type=shape.type.key %}">
						<span class="text-muted">{{ shape.type.name }}:</span>
						<span class="">{{ shape.name }}</span>
					</a>
					</li>
					{% endfor %}
				</ul>
			</div>

			<div class="card-body">
				<div class="row">
					<div class="col-12 col-lg-8">
						{% generate_uuid as id %}
						{% include "datalayers/partials/table.html" with id=id own_chart_container=True datalayers=datalayers shape=active_shape temporal=dt_temporal %}
					</div>

					<div class="col-12 col-lg-4">
						<div id="map" style="width: 100%; height: 250px"></div>
					</div>

					<div class="col-12">
						<div id="charts-{{ id }}"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<hr>
{% endif %}
<p>
	{% translate "Provide a location by latitude/longitude to identify all shapes that contain the given point." %}
</p>

<div class="row">
	<div class="col-md-6">


		<div class="card">
			<div class="card-header">{% translate "Provide location of interest" %}</div>
			<div class="card-body">


				<div class="mb-3">
					<div id="map_picker" style="width: 100%; height: 300px"></div>
					<div class="form-text">{% translate "Click on the map to set coordinates in the form." %}</div>
				</div>

				<form action="{% url 'app:tools_picker' %}" method="GET">
					<div class="row">
						<div class="col-6 mb-3">
							<label for="lat">{% translate "Latitude" %}</label>
							<input type="number" class="form-control" id="lat" name="lat" step="any"  min="-90" max="90" placeholder="{% translate "Latitude" %}" required>
						</div>
						<div class="col-6 mb-3">
							<label for="lng">{% translate "Longitude" %}</label>
							<input type="number" class="form-control" id="lng" name="lng" step="any" min="-180" max="180" placeholder="{% translate "Longitude" %}" required>
						</div>
					</div>

					<div class="row">
						<div class="col-6 mb-3">
							<label for="temporal">{% translate "Value at time" %} <span class="text-muted">{% translate "(optional)" %}</span></label>
							<input type="date" class="form-control" id="temporal" name="temporal">
						</div>
					</div>

					<div class="d-flex justify-content-end">
							<button type="submit" class="btn btn-primary">
								{% translate "Submit" %}
							</button>
					</div>
				</form>
			</div>
		</div>

	</div>
</div>

{% endblock %}

{% block footer %}
<script type="module">
var picker = new MyMap('map_picker');

var marker = false;
picker.map.on("click", function (event) {
	if (marker) {
		picker.map.removeLayer(marker)
	}

	document.getElementById('lat').value = event.latlng.lat;
	document.getElementById('lng').value = event.latlng.lng;

	marker = L.marker(event.latlng).addTo(picker.map);
});

$('.js-add-datalayer-chart').on('click', function() {
	var $this = $(this)
	var container      = $this.attr('data-container');
	var shape_id       = $this.attr('data-shape-id');
	var datalayer_key  = $this.attr('data-datalayer-key');
	var datalayer_name = $this.attr('data-datalayer-name');


	var config = {
		responsive: true
	};

	var charts = document.getElementById(container);
	var chart = document.createElement("dh-chart");
	chart.setAttribute("show_remove", true);
	chart.setAttribute("dl", datalayer_key);
	chart.setAttribute("query", JSON.stringify({shape_id: shape_id}));

	charts.insertBefore(chart, charts.firstChild);

	chart.scrollIntoView({
		block: 'end'
	});
});

{% if active_shape %}
var map = new MyMap('map');
map.load_shape({shape_id: '{{ active_shape.id }}', name: '{{ active_shape.name }}'});

var marker = L.marker([{{ point.y}}, {{point.x}}]).addTo(map.map);

var $table = $('#datalayers').DataTable({
	pageLength: 10,
	//order: [[0, 'asc']],
	columnDefs: [
		{targets: 'no-sort', orderable: false }
	]
});

/*document.getElementById('details{{ forloop.counter0 }}').addEventListener('toggle', (event) => {
	console.log("asdasdad");
	map{{ forloop.counter0 }}.map.invalidateSize();
	$('#datalayers{{ forloop.counter0 }}').DataTable().responsive.recalc();
});*/
{% endif %}





</script>
{% endblock %}
