{% extends "base.html" %}

{% load humanize %}
{% load i18n %}
{% load datalayer_value %}
{% load datalayerformat %}

{% block title %}{% translate "Location picker" %}{% endblock %}

{% block content %}

<div class="m-pageheader d-md-flex flex-md-row-reverse align-items-center justify-content-between">
	<div class="d-grid gap-1 d-md-flex justify-content-md-end">
	</div>

	<h1>{% translate "Location picker" %}</h1>
</div>

{% if warning %}

	<div class="alert alert-warning">
		{{ warning }}
	</div>
{% elif shapes %}
<div class="row">
<div class="col-12">
	<p>
		{% translate "The provided location is contained inside the following shapes:" %}
	</p>


	<div class="card">
		<div class="card-header">



	<ul class="nav nav-tabs card-header-tabs">
		{% for shape in shapes %}
		<li class="nav-item">
		  <a class="nav-link{%if shape_type == shape.type.key %} active{%endif%}"{%if shape_type == shape.type.key %} aria-current="page"{%endif%} href="{% querystring shape_type=shape.type.key %}">
			<span class="text-muted">{{ shape.type.name }}:</span>
			<span class="">{{ shape.name }}</span>
		  </a>
		</li>
		{% endfor %}
	</ul>

</div>
<div class="card-body">



	<div class="row">
		<div class="col-12 col-lg-8">

			<div class="mb-3">

				{% if dt_temporal %}

				{{ dt_temporal}}

				{% endif %}

			</div>



			<div class="mb-3">
			<table class="table table-sm small table-striped" id="datalayers">
				<thead>
					<tr>
						<th>{% translate "Category" %}</th>
						<th>{% translate "Data Layer" %}</th>
						<th>{% translate "First" %}</th>
						<th>{% translate "Last" %}</th>
						<th class="text-nowrap">
							{% if dt_temporal %}
								{{ dt_temporal}}
							{% else %}
								{% translate "Latest value" %}
							{% endif %}
						</th>
						<th class="no-sort text-end">{% translate "Actions" %}</th>
					</tr>
				</thead>
				<tbody>
				{% for dl in datalayers %}
					<tr>
						<td class="align-middle">
							{% with category=dl.category %}
								{% if category %}
									<a class="link-secondary" href="{{ category.get_absolute_url}}">
										{{ category }}
									</a>
								{% else %}
									-
								{% endif %}
							{% endwith %}
						</td>
						<td class="align-middle">
							<a class="text-body" href="{{ dl.get_absolute_url }}">{{ dl.name }}</a>
							{% include "datalayers/partials/tags.html" with datalayer=dl %}
							<code class="visually-hidden">{{ dl.key }}</code>
						</td>

						{% with dlv=active_shape|datalayer_first_value:dl %}
							<td class="align-middle text-nowrap">{{ dlv.date }}</td>
						{% endwith %}

						{% with dlv=active_shape|datalayer_last_value:dl %}
							<td class="align-middle text-nowrap">{{ dlv.date }}</td>
						{% endwith %}

						{% datalayer_value active_shape dl dt_temporal as dlv %}
						<td class="align-middle text-nowrap text-end js-value {% if dlv.is_derived_value %} bg-info-subtle dlv-derived-cell{%endif %}" data-order="{{ dlv.value }}"
						  data-value-formatted="{{ dlv.value|datalayerformat:dl }}"
						  data-value-raw="{{ dlv.value }}">

							{% if dlv.has_value %}
							{% if dlv.is_derived_value %}
								<button type="button" class="btn btn-sm dlv-derived-btn"
									data-bs-toggle="popover"
									data-bs-placement="top"
									data-bs-title="{% translate "Derived value from…" %}"
									data-bs-html="true"
									data-bs-content="{% if dlv.is_derived_spatial%}
											<a href='{{ dlv.shape.get_absolute_url }}'>{{ dlv.shape.name }}</a> ({{ dlv.shape.type.name }})<br>
									{% endif %}
									{% if dlv.is_derived_temporal %}
										{{ dlv.date }}<br>
									{% endif %}">
									{% icon "info" %}
								</button>
							{% endif %}
							{% endif %}

							{{ dlv.value|datalayerformat:dl }}
						</td>

						<td>
							<div class="d-flex justify-content-end">
								<button
								data-container="charts"
								data-datalayer-key="{{ dl.key }}"
								data-shape-id="{{active_shape.id}}"
								data-datalayer-name="{{ dl.name }}"
								title="{% translate "Show temporal trend" %}" class="btn btn-sm btn-outline-primary js-add-datalayer-chart">{% icon "graph" %}</button>
								<a title="{% translate "Download processed data for this shape and Data Layer" %}" rel="nofollow" href="{% url "datalayer_data" %}?datalayer_key={{ dl.key}}&shape_id={{active_shape.id}}&format=csv" class="ms-1 btn btn-sm btn-outline-primary">{% icon "download" %}</a>
								<a title="{% translate "Show Data Layer details" %}" href="{{ dl.get_absolute_url }}"  class="ms-1 btn btn-sm btn-link">{% icon "arrow-right" %}</a>
							</div>
						</td>
					</tr>
				{% endfor %}
				</tbody>
			</table>
			</div>

		</div>
		<div class="col-12 col-lg-4">
			<div id="map" style="width: 100%; height: 250px"></div>
		</div>

		<div class="col-12">
			<div id="charts"></div>
		</div>
	</div>

  </div>
  </div>
</div>
</div>


<hr>
{% endif %}
<p>
	{% translate "Provide a location by latitude/longitude to identify all shapes that contain the given point." %}
</p>

<div class="row">
	<div class="col-md-6">


		<div class="card">
			<div class="card-header">{% translate "Provide location of interest" %}</div>
			<div class="card-body">


				<div class="mb-3">
					<div id="map_picker" style="width: 100%; height: 300px"></div>
					<div class="form-text">{% translate "Click on the map to set coordinates in the form." %}</div>
				</div>

				<form action="{% url 'app:tools_picker' %}" method="GET">
					<div class="row">
						<div class="col-6 mb-3">
							<label for="lat">{% translate "Latitude" %}</label>
							<input type="number" class="form-control" id="lat" name="lat" step="any"  min="-90" max="90" placeholder="{% translate "Latitude" %}" required>
						</div>
						<div class="col-6 mb-3">
							<label for="lng">{% translate "Longitude" %}</label>
							<input type="number" class="form-control" id="lng" name="lng" step="any" min="-180" max="180" placeholder="{% translate "Longitude" %}" required>
						</div>
					</div>

					<div class="row">
						<div class="col-6 mb-3">
							<label for="temporal">{% translate "Value at time" %} <span class="text-muted">{% translate "(optional)" %}</span></label>
							<input type="date" class="form-control" id="temporal" name="temporal">
						</div>
					</div>

					<div class="d-flex justify-content-end">
							<button type="submit" class="btn btn-primary">
								{% translate "Submit" %}
							</button>
					</div>
				</form>
			</div>
		</div>

	</div>
</div>

{% endblock %}

{% block footer %}
<script type="module">
var picker = new MyMap('map_picker');

var marker = false;
picker.map.on("click", function (event) {
	if (marker) {
		picker.map.removeLayer(marker)
	}

	document.getElementById('lat').value = event.latlng.lat;
	document.getElementById('lng').value = event.latlng.lng;

	marker = L.marker(event.latlng).addTo(picker.map);
});

$('.js-add-datalayer-chart').on('click', function() {
	var $this = $(this)
	var container      = $this.attr('data-container');
	var shape_id       = $this.attr('data-shape-id');
	var datalayer_key  = $this.attr('data-datalayer-key');
	var datalayer_name = $this.attr('data-datalayer-name');


	var config = {
		responsive: true
	};

	var charts = document.getElementById(container);
	var chart = document.createElement("dh-chart");
	chart.setAttribute("show_remove", true);
	chart.setAttribute("dl", datalayer_key);
	chart.setAttribute("query", JSON.stringify({shape_id: shape_id}));

	charts.insertBefore(chart, charts.firstChild);

	chart.scrollIntoView({
		block: 'end'
	});
});

{% if active_shape %}
var map = new MyMap('map');
map.load_shape({shape_id: '{{ active_shape.id }}', name: '{{ active_shape.name }}'});

var marker = L.marker([{{ point.y}}, {{point.x}}]).addTo(map.map);

var $table = $('#datalayers').DataTable({
	pageLength: 10,
	//order: [[0, 'asc']],
	columnDefs: [
		{targets: 'no-sort', orderable: false }
	]
});

/*document.getElementById('details{{ forloop.counter0 }}').addEventListener('toggle', (event) => {
	console.log("asdasdad");
	map{{ forloop.counter0 }}.map.invalidateSize();
	$('#datalayers{{ forloop.counter0 }}').DataTable().responsive.recalc();
});*/
{% endif %}





</script>
{% endblock %}
