/*
 * SPDX-FileCopyrightText: 2025 Jonathan Ströbele <mail@jonathanstroebele.de>
 *
 * SPDX-License-Identifier: AGPL-3.0-only
 */

.c-icon {
	fill: currentColor;
	margin-top: -0.2em;
}

.c-icon--large {
	width: 1.5em;
	height: 1.5em;
}
