.c-tag {
	color: rgba(var(--bs-secondary-rgb), 1);
	text-decoration: none;
	background-color: var(--bs-secondary-bg-subtle);
}

a.c-tag:hover,
a.c-tag:focus {
	background-color: var(--bs-dark-bg-subtle);
}
