/*
 * SPDX-FileCopyrightText: 2025 Jonathan Ströbele <mail@jonathanstroebele.de>
 *
 * SPDX-License-Identifier: AGPL-3.0-only
 */

.c-tag {
	color: rgba(var(--bs-secondary-rgb), 1);
	text-decoration: none;
	background-color: var(--bs-secondary-bg-subtle);
}

a.c-tag:hover,
a.c-tag:focus {
	background-color: var(--bs-dark-bg-subtle);
}
