# SPDX-FileCopyrightText: 2025 Jonathan Ströbele <mail@jonathanstroebele.de>
#
# SPDX-License-Identifier: AGPL-3.0-only
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env
pip-log.txt
pip-delete-this-directory.txt
.tox
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.mypy_cache
.pytest_cache
.hypothesis
.ipynb_checkpoints
.DS_Store

.git
.venv
.vscode
.ruff_cache

.env
config.ini

node_modules

/static/
/data/
/data
/data.*
/pgdata/
/datalayers/datalayers
/src/
/src
/src.*
env.*
!env.example
