__pycache__
*.pyc
*.pyo
*.pyd
.Python
env
pip-log.txt
pip-delete-this-directory.txt
.tox
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.mypy_cache
.pytest_cache
.hypothesis
.ipynb_checkpoints
.DS_Store

.git
.venv
.vscode

.env
config.ini

/data/
/data
/data.*
/pgdata/
/datalayers/datalayers
/src/
/src
/src.*
