#loading-message {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    font-size: 20px;
}

.legend-bar {
      width: 150px;
      height: 20px;
      background: linear-gradient(to right, #ebf2f9, #b1cee8, #77a9d7, #3d85c6);
      border: 1px solid #000;
      margin-top: 5px;
  }
  .legend-labels {
      display: flex;
      justify-content: space-between;
      font-size: 0.8em;
  }

