{% extends "base.html" %}
{% load humanize %}

{% block title %}{{ shape.name }}{% endblock %}

{% block content %}



<div class="d-md-flex flex-md-row-reverse align-items-center justify-content-between">

	<div class="d-grid gap-1 d-md-flex justify-content-md-end">

		<a class="btn btn-sm btn-outline-primary" href="#">Download all data</a>

		<div class="btn-group">
			<button type="button" class="btn btn-sm btn-outline-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
				Download shape
			</button>

			<ul class="dropdown-menu dropdown-menu-end">
				<li><a class="dropdown-item" download="{{ shape.name|slugify}}.geojson" href="#">GeoJSON</a></li>
				<li><a class="dropdown-item" download="{{ shape.name|slugify}}.wkt" href="#">WKT</a></li>
			</ul>
		</div>

		{% if perms.shapes.change_shape %}
		<a class="btn btn-sm btn-outline-primary" href="{% url "admin:shapes_shape_change" shape.id %}">{% icon "pencil" %}</a>
		{% endif %}
	</div>

	<h1 class="bd-title">{{ shape.name }}</h1>

</div>



<div class="row">
    <div class="col col-md-6">
        <table class="table table-sm">
            <thead>
            <tr>
                <th>Information</th>
                <th>Value</th>
            </tr>
            </thead>
            <tbody>
            {% if shape.parent %}
            <tr>
                <th>Parent</th>
                <td><a href="{% url 'shapes:detail' shape.parent.id %}">{{ shape.parent.name }}</a></td>
            </tr>
            {% endif %}

            <tr class="table-info">
                <th>Type</th>
                <td>{{ shape.type }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ shape.name }}</td>
            </tr>
            <tr>
                <th>Area</th>
                <td>{{ shape.area_sqkm|floatformat:2|intcomma }} km<sup>2</sup></td>
            </tr>
            {% if shape.children.all.count > 0 %}
            <tr>
                <th>Children ({{ shape.children.all.count }})</th>
                <td><ul class="m-0""">{% for child in shape.children.all %}
                <li><a href="{% url 'shapes:detail' child.id %}">{{ child.name }}</a></li>
                {% endfor %}</ul></td>
            </tr>
            {% endif %}
            </tbody>
        </table>
    </div>

    <div class="col col-md-6">
      <div id="map" class="mb-3" style="width: 100%; height: 400px; z-index: 1"></div>
    </div>
  </div>


{{ datalayer.desciption }}


{% endblock %}
