{% extends "base.html" %}
{% load humanize %}
{% load i18n %}
{% load l10n %}
{% load apiurl %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="m-pageheader d-md-flex flex-md-row-reverse align-items-center justify-content-between">
	<div class="d-grid gap-1 d-md-flex justify-content-md-end">
		<div class="btn-group">
			<button type="button" class="btn btn-sm btn-outline-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
				{% icon "download" %} {% translate "Shape geometries" %}
			</button>
			<ul class="dropdown-menu dropdown-menu-end">
				<li><a class="dropdown-item" href="{% url 'shape_geometry' %}?shape_type={{ type.key }}&format=gpkg">{% translate "GeoPackage" %}</a></li>
				<li><a class="dropdown-item" href="{% url 'shape_geometry' %}?shape_type={{ type.key }}&format=geojson">{% translate "GeoJSON" %}</a></li>

				<li>
					<div class="d-flex">

						{% apiurl 'shape_geometry' shape_type=type.key format="geojson" as the_url %}

						<a class="dropdown-item" href="{{ the_url }}">GeoJSON</a>

						<div class="border-start ms-1 ps-1">
							{% include "app/partials/copy2clipboard.html" with url=the_url %}
						</div>
					</div>
				</li>

				<li><a class="dropdown-item" href="{% url 'shape_geometry' %}?shape_type={{ type.key }}&format=csv">{% translate "CSV (WKT)" %}</a></li>
			</ul>
		</div>

		<button type="button" class="btn btn-sm btn-outline-primary" data-bs-toggle="modal" data-bs-target="#modal_api_{{ type.key }}">{% translate "API" %}</button>

	</div>

	<h1>{{ title }}</h1>
</div>

<div class="row">
	{% if show_map %}
	<div class="col-12 col-md-4 order-md-last">
		<div class="mb-3 bg-light" id="map" style="width: 100%; height: 300px; z-index: 1;"></div>
	</div>
	{% endif %}
	<div class="col-12 {% if show_map %}col-md-8 order-md-first{% endif %}">
		<div class="mb-3">
			<table class="table table-sm table-striped" id="shapes">
				<thead>
					<tr>
						{% if show_type %}
						<th>{% translate "Type" %}</th>
						{% endif %}
						<th>{% translate "Name" %}</th>
						<th class="dt-string">{% translate "Key" %}</th>
						<th>{% translate "Area" %}</th>
						<th class="no-sort text-end">{% translate "Actions" %}</th>
					</tr>
				</thead>
				<tbody>
				{% for shape in shapes %}
					<tr>
						{% if show_type %}
						<td class="align-middle">
							<a href="{{ shape.type.get_absolute_url }}">{{ shape.type.name }}</a>
						</td>
						{% endif %}
						<td class="align-middle">
							<a href="{{ shape.get_absolute_url }}">{{ shape.name }}</a>
						</td>
						<td class="align-middle">
							<code>{{ shape.key }}</code>
						</td>

						<td class="align-middle" data-order="{{ shape.area_sqkm }}">
							{% blocktranslate with area=shape.area_sqkm|floatformat:2 %}
								{{ area }} km<sup>2</sup>
							{% endblocktranslate %}
						</td>
						<td>
							<div class="d-flex justify-content-end text-nowrap">
								<a href="{{ shape.get_absolute_url }}"  class="btn btn-sm btn-link">
									<span class="d-none d-sm-inline">{% translate "Details" %}</span>
									{% icon "arrow-right" %}</a>
							</div>
						</td>
					</tr>
				{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</div>
{% endblock %}

{% block footer %}

{% include "shapes/partials/api_modal_type.html" with type=type %}

<script type="module">
	hljs.highlightAll();
</script>


<script type="modul#e">
$(document).ready(function() {
    $('#shapes').DataTable({
      pageLength: 25,
      order: [[0, 'asc']],
      columnDefs: [
	  	{type: 'string', targets: 'dt-string' },
        {targets: 'no-sort', orderable: false }
    ]
    });
});
</script>

{% if show_map %}
<script type="module">
	var map = new MyMap('map');
	map.load_shape({shape_type: '{{ type.key }}', name: "{{ type.name}}"});

  function highlightShape(e) {
    map.eachLayer(function (layer) {
      if (!layer.hasOwnProperty('feature')) {
        return;
      }

      if (layer.feature.properties.shape_id == e) {
          layer.setStyle({color: '#FF8000'});
          layer.bringToFront();
          map.flyToBounds(layer.getBounds());
      } else {
        // resetStyle() only works on GeoJSON layer and we it not in scope here
        // so just reset the style to the default blue.
        layer.setStyle({
          color: '#3188FF'
        });
      }
    });
  }

$('.js-highlight-shape').on('click', function(e) {
  highlightShape(parseInt($(this).attr('data-shape_id')));
});
</script>
{% endif %}

{% endblock %}
