{% extends "base.html" %}
{% load humanize %}
{% load i18n %}

{% block title %}
{% blocktranslate with name=type.name %}"{{ name }}" shapes{% endblocktranslate %}
{% endblock %}

{% block content %}
<div class="m-pageheader d-md-flex flex-md-row-reverse align-items-center justify-content-between">
	<div class="d-grid gap-1 d-md-flex justify-content-md-end">

		<div class="btn-group">
			<button type="button" class="btn btn-sm btn-outline-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
				{% icon "download" %} {% translate "Shape geometries" %}
			</button>
			<ul class="dropdown-menu dropdown-menu-end">
				<li><a class="dropdown-item" download="{{ type.name|slugify}}.gpkg" href="{% url 'shape_geometry' %}?shape_type={{ type.key }}&format=gpkg">{% translate "GeoPackage" %}</a></li>
				<li><a class="dropdown-item" download="{{ type.name|slugify}}.geojson" href="{% url 'shape_geometry' %}?shape_type={{ type.key }}&format=geojson">{% translate "GeoJSON" %}</a></li>
				<li><a class="dropdown-item" download="{{ type.name|slugify}}.geojson" href="{% url 'shape_geometry' %}?shape_type={{ type.key }}&format=csv">{% translate "CSV" %}</a></li>
			</ul>
		</div>
	</div>

	<h1>{{ type.name }}</h1>
</div>

<div class="row">
	<div class="col-12 col-md-4 order-md-last">
		<div class="mb-3 bg-light" id="map" style="width: 100%; height: 300px"></div>
	</div>
	<div class="col-12 col-md-8 order-md-first">
		<div class="mb-3">
			<table class="table table-sm table-striped" id="shapes">
				<thead>
					<tr>
						<th>{% translate "Name" %}</th>
						<th>{% translate "Area" %}</th>
						<th class="no-sort text-end">{% translate "Actions" %}</th>
					</tr>
				</thead>
				<tbody>
				{% for shape in shapes %}
					<tr>
						<td class="align-middle">
							<a href="{{ shape.get_absolute_url }}">{{ shape.name }}</a>
						</td>
						<td class="align-middle" data-order="{{ shape.area_sqm }}">
							{% blocktranslate with area=shape.area_sqkm|floatformat:2|intcomma %}
								{{ area }} km<sup>2</sup>
							{% endblocktranslate %}
						</td>
						<td>
							<div class="d-flex justify-content-end">
								<a href="{{ shape.get_absolute_url }}"  class="btn btn-sm btn-link">{% translate "Details" %}</a>
							</div>
						</td>
					</tr>
				{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</div>
{% endblock %}

{% block footer %}
<script>
$(document).ready(function() {
    $('#shapes').DataTable({
      pageLength: 25,
      order: [[0, 'asc']],
      columnDefs: [
        {targets: 'no-sort', orderable: false }
    ]
    });
});
</script>

<script>
	var map = new MyMap('map');
	map.load_shape({shape_type: '{{ type.key }}', name: "{{ type.name}}"});

  function highlightShape(e) {
    map.eachLayer(function (layer) {
      if (!layer.hasOwnProperty('feature')) {
        return;
      }

      if (layer.feature.properties.shape_id == e) {
          layer.setStyle({color: '#FF8000'});
          layer.bringToFront();
          map.flyToBounds(layer.getBounds());
      } else {
        // resetStyle() only works on GeoJSON layer and we it not in scope here
        // so just reset the style to the default blue.
        layer.setStyle({
          color: '#3188FF'
        });
      }
    });
  }

$('.js-highlight-shape').on('click', function(e) {
  highlightShape(parseInt($(this).attr('data-shape_id')));
});

  </script>
{% endblock %}
