{% extends "base.html" %}
{% load humanize %}
{% load i18n %}
{% load datalayer_value %}
{% load datalayerformat %}

{% block title %}{% blocktranslate with name=shape.name type=shape.type.name %}{{ name }} ({{ type}}){% endblocktranslate %}{% endblock %}

{% block content %}
<div class="m-pageheader d-md-flex flex-md-row-reverse align-items-center justify-content-between">
	<div class="d-grid gap-1 d-md-flex justify-content-md-end">
		<div class="btn-group">
			<button type="button" class="btn btn-sm btn-outline-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
				{% icon "download" %} {% translate "Shape geometry" %}
			</button>
			<ul class="dropdown-menu dropdown-menu-end">
				<li><a class="dropdown-item" download="{{ shape.name|slugify}}.gpkg" href="{% url 'shape_geometry' %}?shape_id={{ shape.id }}&format=gpkg">{% translate "GeoPackage" %}</a></li>
				<li><a class="dropdown-item" download="{{ shape.name|slugify}}.geojson" href="{% url 'shape_geometry' %}?shape_id={{ shape.id }}&format=geojson">{% translate "GeoJSON" %}</a></li>
			</ul>
		</div>

		{% if perms.shapes.change_shape %}
		<a class="btn btn-sm btn-outline-primary" href="{% url "admin:shapes_shape_change" shape.id %}">{% icon "pencil" %}</a>
		{% endif %}
	</div>

	<h1>{{ shape.name }}</h1>
</div>

<div class="row">
	<div class="col-12 col-lg-6">
		<table class="table table-sm">
			<thead>
				<tr>
					<th>{% translate "Information" %}</th>
					<th>{% translate "Value" %}</th>
				</tr>
				</thead>
			<tbody>
				{% if shape.parent %}
				<tr>
					<th>{% translate "Parent" %}</th>
					<td><a href="{% url 'shapes:shape_detail' shape.parent.id %}">{{ shape.parent.name }}</a></td>
				</tr>
				{% endif %}
				<tr class="table-info">
					<th>{% translate "Type" %}</th>
					<td>{{ shape.type }}</td>
				</tr>
				<tr>
					<th>{% translate "Name" %}</th>
					<td>{{ shape.name }}</td>
				</tr>
				<tr>
					<th>{% translate "Area" %}</th>
					<td>{{ shape.area_sqkm|floatformat:2|intcomma }} km<sup>2</sup></td>
				</tr>
				{% if shape.has_properties %}
				<tr>
					<th>{% translate "Properties" %}</th>
					<td>
						<table class="table table-sm">
							<thead>
								<tr>
									<th>{% translate "Key" %}</th>
									<th>{% translate "Value" %}</th>
								</tr>
							</thead>
							<tbody>
								{% for key, value in shape.properties.items %}
									<tr>
										<td><code>{{ key }}</code></td>
										<td>{{ value }}</td>
									</tr>
								{% endfor %}
							</tbody>
						</table>

					</td>
				</tr>
				{% endif %}

				{% if shape.children.all.count > 0 %}
				<tr>
					<th>{% blocktranslate with count=shape.children.all.count %}Children ({{ count }}){% endblocktranslate %}</th>
					<td>
						<ul class="m-0">
						{% for child in shape.children.all %}
							<li><a href="{% url 'shapes:shape_detail' child.id %}">{{ child.name }}</a></li>
						{% endfor %}
						</ul>
					</td>
				</tr>
				{% endif %}
			</tbody>
		</table>
	</div>

	<div class="col-12 col-lg-6">
		<div id="map" class="mb-3" style="width: 100%; height: 400px; z-index: 1"></div>
	</div>
</div>

<div class="row">
	<div class="col-12">
		<h2>{% translate "Data Layers" %}</h2>


		<div class="form-check form-switch fw-normal d-inline-block small">
			<input class="form-check-input" type="checkbox" role="switch" id="js-show-raw-data">
			<label class="form-check-label" for="js-show-raw-data">{% translate "Show raw data" %}</label>
		</div>


		<table class="table table-sm table-striped" id="datalayers">
			<thead>
				<tr>
					<th>{% translate "Category" %}</th>
					<th>{% translate "Data Layer" %}</th>
					<th>{% translate "Date" %}</th>
					<th>
						{% translate "Value" %}
					</th>
					<th class="no-sort text-end">{% translate "Actions" %}</th>
				</tr>
			</thead>

			<tbody>
			{% for dl in datalayers %}
				<tr>
					<td class="align-middle">{{ dl.category }}</td>
					<td class="align-middle"><a href="{{ dl.get_absolute_url }}">{{ dl.name }}</a></td>

					{% with dlv=shape|datalayer_value:dl %}
					<td class="align-middle">{{ dlv.date }}</td>
					<td class="align-middle js-value" data-order="{{ dlv.value }}"
					  data-value-formatted="{{ dlv.value|datalayerformat:dl }}"
					  data-value-raw="{{ dlv.value }}">
						{{ dlv.value|datalayerformat:dl }}
					</td>
					{% endwith %}

					<td>
						<div class="d-flex justify-content-end">
							<button
							data-datalayer-id="{{ dl.id }}"
							data-shape-id="{{shape.id}}"
							data-datalayer-name="{{ dl.name }}"
							title="{% translate "Show temporal trend" %}" class="btn btn-sm btn-link js-add-datalayer-chart">{% icon "graph" %}</button>
							<a title="{% translate "Download processed data for this shape and Data Layer" %}" href="{% url "datalayer_data" %}?datalayer_id={{ dl.id}}&shape_id={{shape.id}}&format=csv" class="btn btn-sm btn-link">{% icon "download" %}</a>
							<a title="{% translate "Show Data Layer details" %}" href="{{ dl.get_absolute_url }}"  class="btn btn-sm btn-link">{% icon "arrow-right" %}</a>
						</div>
					</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>

		<div id="charts" class="mb-3">


		</div>

	</div>
</div>

{% endblock %}

{% block footer %}
<script>
	var map = get_base_map('map');
	load_shape(map, {shape_id: '{{ shape.id }}'});
</script>

<script>
$(document).ready(function() {
	$('#js-show-raw-data').on('change', function() {
		var show_raw_values = $(this).is(':checked');
		$('.js-value').each(function() {
			var $cell = $(this);
			if (show_raw_values) {
				$cell.text($cell.attr('data-value-raw'));
			} else {
				$cell.text($cell.attr('data-value-formatted'));
			}
		});
	});

	$('#datalayers').DataTable({
		pageLength: 25,
		//order: [[0, 'asc']],
		columnDefs: [
			{targets: 'no-sort', orderable: false }
		]
	});
});
</script>

<script>


var charts = document.getElementById('charts');
$('.js-add-datalayer-chart').on('click', function() {

	var $this = $(this)

	var shape_id       = $this.attr('data-shape-id');
	var datalayer_id   = $this.attr('data-datalayer-id');
	var datalayer_name = $this.attr('data-datalayer-name');

	var traces = [{
		x: [],
		y: [],
		mode: 'lines+markers',
		name: datalayer_name,
	}];
	var layout = {
		title: datalayer_name,
		xaxis: {
			title: 'Time',
		},
		yaxis: {
			title: 'Value',
			automargin: true, // prevent tick labels from beeing cut off
		},
		showlegend: true,
		legend: {
			orientation: "h",
			x: 0,
			y: -0.2
		},
		margin: {
			l: 50,
			r: 10,
			b: 100,
			t: 50,
			pad: 4
		},
	};

	var config = {
		responsive: true
	};

	var chart = document.createElement("div");
	charts.insertBefore(chart, charts.firstChild);

	Plotly.newPlot(chart, traces, layout, config).then(function() {
		$.getJSON(`/api/datalayers/data?datalayer_id=${datalayer_id}&shape_id=${shape_id}&format=plotly`, function(response) {
			// inject lyout for the update as well. The xaxis.type seetings get's lost otherwise
			Plotly.update(chart, {
				x: [response.x],
				y: [response.y],
			}, layout, [0]);
		});
	});

});


</script>

{% endblock %}
