{% extends "base.html" %}
{% load humanize %}
{% load i18n %}
{% load datalayer_value %}
{% load datalayerformat %}

{% block title %}{% blocktranslate with name=shape.name type=shape.type.name %}{{ name }} ({{ type}}){% endblocktranslate %}{% endblock %}

{% block content %}
<div class="m-pageheader d-md-flex flex-md-row-reverse align-items-center justify-content-between">
	<div class="d-grid gap-1 d-md-flex justify-content-md-end">
		<div class="btn-group">
			<button type="button" class="btn btn-sm btn-outline-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
				{% icon "download" %} {% translate "Shape geometry" %}
			</button>
			<ul class="dropdown-menu dropdown-menu-end">
				<li><a class="dropdown-item" download="{{ shape.name|slugify}}.gpkg" href="{% url 'shape_geometry' %}?shape_id={{ shape.id }}&format=gpkg">{% translate "GeoPackage" %}</a></li>
				<li><a class="dropdown-item" download="{{ shape.name|slugify}}.geojson" href="{% url 'shape_geometry' %}?shape_id={{ shape.id }}&format=geojson">{% translate "GeoJSON" %}</a></li>
			</ul>
		</div>

		{% if perms.shapes.change_shape %}
		<a class="btn btn-sm btn-outline-primary" href="{% url "admin:shapes_shape_change" shape.id %}">{% icon "pencil" %}</a>
		{% endif %}
	</div>

	<h1>{{ shape.name }}</h1>
</div>

<div class="row">
	<div class="col-12 col-lg-6">
		<table class="table table-sm">
			<thead>
				<tr>
					<th>{% translate "Information" %}</th>
					<th>{% translate "Value" %}</th>
				</tr>
				</thead>
			<tbody>
				{% if shape.parent %}
				<tr>
					<th>{% translate "Parent" %}</th>
					<td><a href="{% url 'shapes:shape_detail' shape.parent.id %}">{{ shape.parent.name }}</a></td>
				</tr>
				{% endif %}
				<tr class="table-info">
					<th>{% translate "Type" %}</th>
					<td>{{ shape.type }}</td>
				</tr>
				<tr>
					<th>{% translate "Name" %}</th>
					<td>{{ shape.name }}</td>
				</tr>
				<tr>
					<th>{% translate "Area" %}</th>
					<td>{{ shape.area_sqkm|floatformat:2 }} km<sup>2</sup></td>
				</tr>
				{% if shape.has_properties %}
				<tr>
					<th>{% translate "Properties" %}</th>
					<td>
						<table class="table table-sm">
							<thead>
								<tr>
									<th>{% translate "Key" %}</th>
									<th>{% translate "Value" %}</th>
								</tr>
							</thead>
							<tbody>
								{% for key, value in shape.properties.items %}
									<tr>
										<td><code>{{ key }}</code></td>
										<td>{{ value }}</td>
									</tr>
								{% endfor %}
							</tbody>
						</table>

					</td>
				</tr>
				{% endif %}

				{% if shape.children.all.count > 0 %}
				<tr>
					<th>{% blocktranslate with count=shape.children.all.count %}Children ({{ count }}){% endblocktranslate %}</th>
					<td>
						<ul class="m-0">
						{% for child in shape.children.all %}
							<li><a href="{% url 'shapes:shape_detail' child.id %}">{{ child.name }}</a></li>
						{% endfor %}
						</ul>
					</td>
				</tr>
				{% endif %}

				{% if shape.attribution_url %}
					{% if shape.attribution_text %}
						<tr class="small">
							<th>{% translate "Geometry attribution" %}</th>
							<td><a href="{{ shape.attribution_url }}">{{ shape.attribution_text }}</a></td>
						</tr>
					{% else %}
					<tr class="small">
						<th>{% translate "Geometry attribution" %}</th>
						<td><a href="{{ shape.attribution_url }}">{{ shape.attribution_url }}</a></td>
					</tr>
					{% endif %}
				{% else %}
					{% if shape.attribution_text%}
					<tr class="small">
						<th>{% translate "Geometry attribution" %}</th>
						<td>{{ shape.attribution_url }}</td>
					</tr>
					{% endif %}
				{% endif %}

			</tbody>
		</table>
	</div>

	<div class="col-12 col-lg-6">
		<div id="map" class="mb-1" style="width: 100%; height: 400px; z-index: 1"></div>

		<div class="mb-3">
			<button id="map-show-bbox" class="btn btn-sm btn-outline-secondary">{% translate "Show BBox" %}</button>

			<div class="btn-group" role="group">
				{% if shape.parent_id %}
				<button id="map-show-parent" data-query='{"shape_id": {{shape.parent.id}}, "name": "{% translate "Parent" %}"}' class="btn btn-sm btn-outline-secondary js-map-show">{% translate "Parent shape" %}</button>
				{% endif %}
				<button id="map-show-siblings" data-query='{"shape_type": "{{shape.type.key}}"{% if shape.parent_id %}, "shape_parent_id": {{shape.parent_id}}{% endif %}, "name": "{% translate "Siblings" %}"}' class="btn btn-sm btn-outline-secondary js-map-show">{% translate "Siblings" %}</button>
				{% if shape.children.all.count > 0 %}
				<button id="map-show-children" data-query='{"shape_parent_id": {{shape.id}}, "name": "{% translate "Children" %}"}' class="btn btn-sm btn-outline-secondary js-map-show">{% translate "Child shapes" %}</button>
				{% endif %}
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-12">
		<h2>{% translate "Data Layers" %}</h2>


		<div class="form-check form-switch fw-normal d-inline-block small">
			<input class="form-check-input" type="checkbox" role="switch" id="js-show-raw-data">
			<label class="form-check-label" for="js-show-raw-data">{% translate "Show raw data" %}</label>
		</div>


		<div class="mb-3">
		<table class="table table-sm table-striped" id="datalayers">
			<thead>
				<tr>
					<th>{% translate "Category" %}</th>
					<th>{% translate "Name" %}</th>
					<th>{% translate "Key" %}</th>
					<th>{% translate "First" %}</th>
					<th>{% translate "Last" %}</th>
					<th>
						{% translate "Latest value" %}
					</th>
					<th class="no-sort text-end">{% translate "Actions" %}</th>
				</tr>
			</thead>

			<tbody>
			{% for dl in datalayers %}
				<tr>
					<td class="align-middle">
						{% with category=dl.category %}
							{% if category %}
								<a class="link-secondary" href="{{ category.get_absolute_url}}">
									{{ category }}
								</a>
							{% else %}
								-
							{% endif %}
						{% endwith %}
					</td>
					<td class="align-middle">
						<a class="text-body" href="{{ dl.get_absolute_url }}">{{ dl.name }}</a>
						{% include "datalayers/partials/tags.html" with datalayer=dl %}
					</td>
					<td class="align-middle"><code>{{ dl.key }}</code></td>

					{% with dlv=shape|datalayer_first_value:dl %}
					<td class="align-middle text-nowrap">{{ dlv.date }}</td>
					{% endwith %}

					{% with dlv=shape|datalayer_last_value:dl %}
					<td class="align-middle text-nowrap">{{ dlv.date }}</td>
					{% endwith %}

					{% datalayer_value shape dl as dlv %}
					<td class="align-middle text-nowrap js-value {% if dlv.is_derived_value %} bg-info-subtle dlv-derived-cell{%endif %}" data-order="{{ dlv.value }}">

						{% if dlv.has_value %}
						{% if dlv.is_derived_value %}
							<button type="button" class="btn float-start dlv-derived-btn"
								data-bs-toggle="popover"
								data-bs-placement="top"
								data-bs-title="{% translate "Derived value from…" %}"
								data-bs-html="true"
								data-bs-content="{% if dlv.is_derived_spatial%}
										<a href='{{ dlv.shape.get_absolute_url }}'>{{ dlv.shape.name }}</a> ({{ dlv.shape.type.name }})<br>
								{% endif %}
								{% if dlv.is_derived_temporal %}
									{{ dlv.date }}<br>
								{% endif %}">
								{% icon "info" %}
							</button>
						{% endif %}
						{% endif %}

						<span class="js-value"
						  data-value-formatted="{{ dlv.value|datalayerformat:dl }}"
						  data-value-raw="{{ dlv.value }}">
							{{ dlv.value|datalayerformat:dl }}
						</span>
					</td>

					<td>
						<div class="d-flex justify-content-end">
							<button
							data-datalayer-key="{{ dl.key }}"
							data-shape-id="{{shape.id}}"
							title="{% translate "Show temporal trend" %}" class="btn btn-sm btn-outline-primary js-add-datalayer-chart">{% icon "graph" %}</button>
							<a title="{% translate "Download processed data for this shape and Data Layer" %}" rel="nofollow" href="{% url "datalayer_data" %}?datalayer_key={{ dl.key}}&shape_id={{shape.id}}&format=csv" class="ms-1 btn btn-sm btn-outline-primary">{% icon "download" %}</a>
							<a title="{% translate "Show Data Layer details" %}" href="{{ dl.get_absolute_url }}"  class="ms-1 btn btn-sm btn-link">{% icon "arrow-right" %}</a>
						</div>
					</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>

		<div id="charts" class="mb-3">


		</div>

	</div>
</div>

{% endblock %}

{% block footer %}
<script type="module">
	var map = new MyMap('map');
	map.load_shape({shape_id: '{{ shape.id }}', name: "{{ shape.name }}"});

	document.getElementById('map-show-bbox').addEventListener('click', function (event) {
		map.load_shape_bbox({shape_id: '{{ shape.id }}', name: "{{ shape.name }} BBox"});
	});

	document.querySelectorAll('.js-map-show').forEach(el => el.addEventListener('click', function (event) {
		map.load_shape(JSON.parse(this.dataset.query));
	}));
</script>

<script type="module">
$(document).ready(function() {
	$('#js-show-raw-data').on('change', function() {
		var show_raw_values = $(this).is(':checked');
		$('.js-value').each(function() {
			var $cell = $(this);
			if (show_raw_values) {
				$cell.text($cell.attr('data-value-raw'));
			} else {
				$cell.text($cell.attr('data-value-formatted'));
			}
		});
	});

	$('#datalayers').DataTable({
		pageLength: 10,
		//order: [[0, 'asc']],
		columnDefs: [
			{targets: 'no-sort', orderable: false }
		]
	});
});

let charts = document.getElementById('charts');
document.querySelectorAll('.js-add-datalayer-chart').forEach(el => el.addEventListener('click', (event) => {
	let chart = document.createElement("dh-chart");
	chart.setAttribute("show_remove", true);
	chart.setAttribute("dl", event.currentTarget.dataset.datalayerKey);
	chart.setAttribute("query", JSON.stringify({shape_id: event.currentTarget.dataset.shapeId}));
	charts.insertBefore(chart, charts.firstChild);
	chart.scrollIntoView({
		block: 'end'
	});

}));

</script>
{% endblock %}
