{% load i18n %}
{% load datalayer_value %}
{% load datalayerformat %}
{% load generate_uuid %}

{# The snippet can be included multiple times on the same page, so we need to make sure IDs are unique #}
{% if not id %}
	{% generate_uuid as id %}
{% endif %}

<div id="datalayer-table-{{ id }}">

<div class="row align-items-center">

	<div class="col">
		<form action="{{ request.path }}" method="get">

			{# keep existing query parameters, except temporal, we set it new #}
			{% for key, value in request.GET.items %}
				{% if key != "temporal" %}
					<input type="hidden" name="{{ key }}" value="{{ value }}">
				{% endif %}
			{% endfor %}

			<div class="row g-3 align-items-center">
				<div class="col-auto">
					<label for="datalayer-table-{{ id }}-date" class="col-form-label">{% translate "Show values at date:" %}</label>
				</div>
				<div class="col-auto">
					<div class="input-group" style="width: 12em">
						<input name="temporal" value="{{ temporal }}" type="date" required id="datalayer-table-{{ id }}-date" class="form-control form-control-sm" aria-describedby="passwordHelpInline">
						<button class="btn btn-sm btn-outline-secondary" type="submit">{% translate "Update" %}</button>
					</div>
				</div>
			  </div>
		</form>
	</div>


	<div class="col">
		<div class="d-flex justify-content-end">
			<div class="form-check form-switch fw-normal d-inline-block small">
				<input class="form-check-input" type="checkbox" role="switch" id="js-show-raw-data-{{ id }}">
				<label class="form-check-label" for="js-show-raw-data-{{ id }}">{% translate "Show raw data" %}</label>
			</div>
		</div>
	</div>
</div>

<div class="mb-3">

<table class="table table-sm table-striped" id="datalayers-{{ id }}">
	<thead>
		<tr>
			<th>{% translate "Category" %}</th>
			<th>{% translate "Data Layer" %}</th>
			{#<th>{% translate "Key" %}</th>#}
			<th class="text-nowrap text-end">
				{% if temporal %}
					{{ temporal}}
				{% else %}
					{% translate "Latest value" %}
				{% endif %}
			</th>
			<th class="text-end">{% translate "First" %}</th>
			<th class="text-end">{% translate "Last" %}</th>
			<th class="no-sort text-end">{% translate "Actions" %}</th>
		</tr>
	</thead>

	<tbody>
	{% for dl in datalayers %}
		<tr>
			<td class="align-middle">
				{% with category=dl.category %}
					{% if category %}
						<a class="link-secondary" href="{{ category.get_absolute_url}}">
							{{ category }}
						</a>
					{% else %}
						-
					{% endif %}
				{% endwith %}
			</td>
			<td class="align-middle">
				<a class="text-body" href="{{ dl.get_absolute_url }}">{{ dl.name }}</a>
				{% include "datalayers/partials/tags.html" with datalayer=dl %}
				<span class="visually-hidden">{{ dl.key}}</span>
			</td>

			{# <td class="align-middle"><code>{{ dl.key }}</code></td> #}

			{% datalayer_value shape dl temporal as dlv %}
			<td class="align-middle text-nowrap text-end js-value dlv-derived-cell {% if dlv.has_value %}{% if dlv.is_derived_value %}bg-warning-subtle{%else%}bg-success-subtle{%endif %}{%else%}bg-danger-subtle{%endif%}" data-order="{{ dlv.value }}">
				<div class="dlv">

					{% comment %}
					Investigate Popover API further:
					on trigger button: button[popovertarget="popover_{{dl.key}}"]
					on popover div: div[popover] + div[id="popover_{{dl.key}}"]
					{% endcomment %}

					<button type="button" class="btn btn-sm float-start dlv-derived-btn">
						{% if dlv.has_value %}
							{% if dlv.is_derived_value %}
									{% icon "info" %}
							{% else %}
								{% icon "issue-closed" %}
							{% endif %}
						{% else %}
								{% icon "no-entry" %}
						{% endif %}
					</button>

					<div class="popover bs-popover-top">
						<div class="popover-arrow"></div>
						<h3 class="popover-header">{% translate "Data quality info" %}</h3>
						<div class="popover-body">
							{% if dlv.has_value %}
								{% if dlv.is_derived_value %}
									{% translate "Data derived from:" %}<br>
									{% if dlv.is_derived_spatial%}
										<a href='{{ dlv.shape.get_absolute_url }}'>{{ dlv.shape.name }}</a> ({{ dlv.shape.type.name }})<br>
									{% endif %}
									{% if dlv.is_derived_temporal %}
										{{ dlv.date }}<br>
									{% endif %}
								{% else %}
									{% translate "Matching data available" %}
								{% endif %}
							{% else %}
								{% translate "No data available" %}
							{% endif %}
						</div>
					</div>
				</div>

				<span class="js-value"
				  data-value-formatted="{{ dlv.value|datalayerformat:dl }}"
				  data-value-raw="{{ dlv.value }}">
					{{ dlv.value|datalayerformat:dl }}
				</span>
			</td>

			{% with dlv=shape|datalayer_first_value:dl %}
			<td class="align-middle text-nowrap text-end">{{ dlv.date }}</td>
			{% endwith %}

			{% with dlv=shape|datalayer_last_value:dl %}
			<td class="align-middle text-nowrap text-end">{{ dlv.date }}</td>
			{% endwith %}

			<td class="align-middle">
				<div class="d-flex justify-content-end">
					<button
					data-datalayer-key="{{ dl.key }}"
					data-shape-id="{{shape.id}}"
					title="{% translate "Show temporal trend" %}" class="btn btn-sm btn-outline-primary js-add-datalayer-chart">{% icon "graph" %}</button>



					<div class="btn-group">
						<button type="button"{% if not dl.is_available %} disabled{% endif %} class="ms-1 btn btn-sm btn-outline-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
							{% icon "download" %}
						</button>
						{% if dl.is_available %}
						<ul class="dropdown-menu">
							<li><a class="dropdown-item" title="{% translate "Download processed data for this shape and Data Layer" %}" rel="nofollow" href="{% url "datalayer_data" %}?datalayer_key={{ dl.key}}&shape_id={{shape.id}}&format=csv">{% translate "CSV" %}</a></li>
							<li><a class="dropdown-item" title="{% translate "Download processed data for this shape and Data Layer" %}" rel="nofollow" href="{% url "datalayer_data" %}?datalayer_key={{ dl.key}}&shape_id={{shape.id}}&format=excel">{% translate "Excel" %}</a></li>
						</ul>
						{% endif %}
					</div>




					<a title="{% translate "Show Data Layer details" %}" href="{{ dl.get_absolute_url }}"  class="ms-1 btn btn-sm btn-link">{% icon "arrow-right" %}</a>
				</div>
			</td>
		</tr>
	{% endfor %}
	</tbody>
</table>
</div>

	{% if not own_chart_container %}
	<div id="charts-{{ id }}" class="mb-3"></div>
	{% endif %}

</div>

{% block footer %}
<script type="module">
	let table = document.getElementById('datalayers-{{ id }}');

	$(document).ready(function() {
		$('#js-show-raw-data-{{ id }}').on('change', function() {
			var show_raw_values = $(this).is(':checked');
			$('.js-value').each(function() {
				var $cell = $(this);
				if (show_raw_values) {
					$cell.text($cell.attr('data-value-raw'));
				} else {
					$cell.text($cell.attr('data-value-formatted'));
				}
			});
		});

		$(table).DataTable({
			pageLength: 10,
			//order: [[0, 'asc']],
			columnDefs: [
				{targets: 'no-sort', orderable: false }
			]
		});
	});

	let charts = document.getElementById('charts-{{ id }}');
	table.querySelectorAll('.js-add-datalayer-chart').forEach(el => el.addEventListener('click', (event) => {
		let chart = document.createElement("dh-chart");

		chart.setAttribute("show_remove", true);
		chart.setAttribute("dl", event.currentTarget.dataset.datalayerKey);
		chart.setAttribute("query", JSON.stringify({shape_id: event.currentTarget.dataset.shapeId}));

		charts.insertBefore(chart, charts.firstChild);

		chart.scrollIntoView({
			block: 'end'
		});

	}));
</script>
{% endblock %}
