/*
 * SPDX-FileCopyrightText: 2025 Jonathan Ströbele <mail@jonathanstroebele.de>
 *
 * SPDX-License-Identifier: AGPL-3.0-only
 */

.m-pageheader {
	border-bottom: 1px solid var(--bs-gray-200);
	padding-bottom: 0.25rem;
	margin-bottom: 1rem;
}
.m-pageheader h1 {
	margin-bottom: 0;
}
