{% load i18n %}
<button type="button" class="btn btn-sm btn-link text-body js-clipboard" data-clipboard-content="{{ content }}" data-clipboard-source="{{ source }}" data-clipboard-url="{{ url }}">
	<span title="{%translate "Copy to clipboard" %}" class="js-copy">{% icon "copy" %}</span>
	<span title="{%translate "Loading…" %}" class="js-loading" style="display:none;">{% icon "90-ring" %}</span>
	<span title="{%translate "Copied" %}" class="js-done" style="display:none;">{% icon "check" %}</span>
</button>
