{% load static %}
{% load i18n %}
{% load l10n %}
{% load humanize %}
{% load vite %}
{% get_current_language as LANGUAGE_CODE %}
{% localize off %}
<!doctype html>
<html lang="{{ LANGUAGE_CODE }}" class="no-js">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
	<title>{% block title %}{% endblock %} - {{ datahub_name }}</title>

	<script>
		document.documentElement.className = document.documentElement.className.replace("no-js","js");
		document.documentElement.classList.toggle('mac', /Mac|iPhone|iPod|iPad/i.test(navigator.platform))
	</script>

	<script>
		const DATAHUB = {
			CENTER_X: {{ DATAHUB_CENTER_X }},
			CENTER_Y: {{ DATAHUB_CENTER_Y }},
			CENTER_ZOOM: {{ DATAHUB_CENTER_ZOOM }},
		};
	</script>

	{% vite_dev %}
	{% vite_asset "app/resources/js/app.js" %}
	{% vite_asset "app/resources/css/app.css" %}

	{% block head %}{% endblock %}

	{{ DATAHUB_HEAD|safe }}
</head>
<body>
	<header>
		<nav class="l-navbar navbar navbar-expand-lg navbar-light bg-light border-bottom">
			<div class="container-fluid">

				{% if not datahub_login_required or user.is_authenticated %}
				<button class="btn btn-sm d-lg-none me-1" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasResponsive" aria-controls="offcanvasResponsive" aria-expanded="false" aria-label="{% translate "Toggle offcanvas" %}">
					{% icon "three-bars" %}
				</button>
				{% endif %}

				<a class="navbar-brand" href="{% url 'app:home' %}">{{ datahub_name }}</a>

				{% if not datahub_login_required or user.is_authenticated %}
					<button id="open-search" type="button" class="btn btn-sm btn-outline-secondary m-searchbutton" aria-label="{% translate "Search" %}">
						<span class="m-searchbutton-label">
							<span class="m-searchbutton-icon">{% icon "search" %}</span>
							<span class="m-searchbutton-placeholder">{% translate "Search" %}</span>
						</span>
						<span class="m-searchbutton-keys">
							<kbd class="m-searchbutton-key m-searchbutton-key--mod"></kbd>
							<kbd class="m-searchbutton-key">K</kbd>
						</span>
					</button>
					{% comment %}
					agolia/autocomplete needs a container where it renders the inputfield, since we
					have our own button, we hide it. There is no functionality to hide/provide a
					custom html for the trigger element, hiding it is actually recommended
					by the github discussions from the repo. https://github.com/algolia/autocomplete/discussions/1029
					{% endcomment %}
					<div style="display: none" id="autocomplete"></div>
				{% endif %}

				<div class="d-flex ms-auto"> {% comment %} ms-auto makes sure the div is positioned on the "end" in the flex parent {% endcomment %}

					{% if not datahub_login_required or user.is_authenticated %}
					{% if DATAHUB_GITHUB %}
					<a class="btn btn-link text-body" href="{{ DATAHUB_GITHUB }}">
						{% icon "mark-github" classes="c-icon--large" %}
					</a>
					{%endif %}
					{% endif %}


					{% get_available_languages as LANGUAGES %}
					{% if LANGUAGES|length > 1 %}
					<div class="input-group input-group-sm me-1">
						<span class="input-group-text">{% icon "globe" %}</span>
						<button class="btn btn-outline-secondary btn-language-toggle btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
							{{ LANGUAGE_CODE }}
						</button>
						<ul class="dropdown-menu dropdown-menu-end">
							{% get_language_info_list for LANGUAGES as languages %}
							{% for language in languages %}
							<li>
								<form action="{% url 'set_language' %}" method="post" class="d-inline">
								{% csrf_token %}
								<input type="hidden" name="language" value="{{ language.code }}">
								<input type="hidden" name="next" value="{{ redirect_to }}">
								<button type="submit" class="dropdown-item{% if language.code == LANGUAGE_CODE %} active{% endif %}">
									{{ language.name_local }}
								</button>
								</form>
							</li>
							{% endfor %}
						</ul>
					</div>
					{% endif %}

					<div class="dropdown">
						<button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
							{% icon "person" %}
						</button>
						<ul class="dropdown-menu dropdown-menu-end">
							{% if user.is_authenticated %}
							<li><a class="dropdown-item" href="{% url 'admin:index' %}">{% translate "Admin" %}</a></li>
							<li><a class="dropdown-item" href="{% url 'app:settings' %}">{% translate "Settings" %}</a></li>
							<li>
								<form action="{% url 'logout' %}" method="post">
									{% csrf_token %}
									<button class="btn btn-link" type="submit">{% translate "Logout" %}</button>
								</form>
							</li>
							{% else %}
							<li><a class="dropdown-item" href="{% url "login" %}?next={{ request.path }}">{% translate "Login" %}</a></li>
							{% endif %}
						</ul>
					</div>
				</div>

			</div>
		</nav>
	</header>

	<div class="l-main {% if not datahub_login_required or user.is_authenticated %}l-main--auth{%endif%}">

		{% if not datahub_login_required or user.is_authenticated %}
		<div class="offcanvas-lg offcanvas-start" id="offcanvasResponsive" tabindex="-1">
		<aside class="l-sidebar p-1">
			<nav>
				<ul class="nav flex-column">

					<li class="nav-item">

						<a href="{% url 'shapes:shape_detail_all' %}" class="nav-link">
							{% icon "location" %}
							{% translate "Shapes" %}</a>


						<ul class="nav flex-column">
						{% for st in nav_shape_types %}
							<li class="nav-item"><a class="nav-link" href="{{ st.get_absolute_url }}">{{ st.name }}</a></li>
						{% endfor %}
						</ul>

					</li>


					<li class="nav-item">

						<a href="{% url 'datalayers:datalayer_index' %}" class="nav-link">
							{% icon "stack" %}
							{% translate "Data Layers" %}</a>

						<ul class="nav flex-column">
							{% for category in nav_datalayer_categories %}
							<li class="nav-item"><a class="nav-link" href="{{ category.get_absolute_url }}">{{ category.name }}</a></li>
							{% endfor %}
						</ul>

					</li>


					<li class="nav-item">

						<span class="nav-link">
							{% icon "tools" %}
							<b>{% translate "Tools" %}</b></span>

						<ul class="nav flex-column">
							<li  class="nav-item"><a class="nav-link" href="{% url "app:tools_picker" %}">{% translate "Location picker" %}</a></li>
							{% include 'app/nav_tools.html' %}
						</ul>
					</li>


					<li class="nav-item">
						<span class="nav-link">
							{% icon "book" %}
							<b>{% translate "Docs" %}</b></span>

						<ul class="nav flex-column">


							{% for item in DOCS_STRUCTURE %}
							<li class="nav-item">
								{% if item.type == 'file' %}
								<a class="nav-link" href="{% url 'app:docs_page' path=item.url %}">{{ item.localized_name }}</a>

								{%else %}

								<span class="nav-link">{{ item.name }}</span>


								<ul class="nav flex-column border-start ms-2 ps-2 mb-2">
									{% for item2 in item.children %}
									<li class="nav-item">
										<a class="nav-link" href="{% url 'app:docs_page' path=item2.url %}">{{ item2.localized_name }}</a>
									</li>
									{% endfor %}
								</ul>
								{%endif %}
							</li>
							{% endfor %}

							{% include 'app/nav_docs.html' %}
							<li class="nav-item"><a class="nav-link" href="{% url 'app:changelog' %}">{% translate "Changelog" %}</a></li>
						</ul>
					</li>

					{% include 'app/nav.html' %}
				</ul>
			</nav>
		</aside>
		</div>
		{% endif %}

		<div class="{% block containerclass %}container-xxl{% endblock %} my-3">
			{% if messages %}
				{% for message in messages %}
				<div class="alert {% if message.tags %}alert-{{ message.tags }}{% else %}alert-primary{% endif %} alert-dismissible fade show" role="alert">
					{{ message }}
					<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="{% translate "Close" %}"></button>
				</div>
				{% endfor %}
			{% endif %}

			{% block content %}{% endblock %}
		</div>

	<footer class="container-xxl mb-1">
		<div class="footer-copy pt-1">
			<small class="text-muted">
				{{ datahub_name }}
				{% if INSTANCE_VERSION %}
				v{{ INSTANCE_VERSION }} (<a class="link-secondary" href="{% url 'app:changelog' %}">{% translate "Changelog" %}</a>) ・
				{% endif%}
				<a class="link-secondary" href="https://github.com/datasnack/datahub">{% translate "Data Hub" %}</a> v{{ DATAHUB_VERSION }} <span class="opacity-75 fst-italic">by <a class="link-secondary" href="https://datasnack.org/">Data Snack</a></span>
			</small>
		</div>
	</footer>

	</div>

	{% block footer %}{% endblock %}
</body>
</html>
{% endlocalize %}
