{% load static %}
{% load i18n %}
{% load l10n %}
{% get_current_language as LANGUAGE_CODE %}
<!doctype html>
<html lang="{{ LANGUAGE_CODE }}" class="no-js">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">

	<link rel="stylesheet" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'vendor/leaflet/leaflet.css' %}">
	<link rel="stylesheet" href="{% static 'vendor/leaflet.loading/Control.Loading.css' %}">
	<link rel="stylesheet" href="{% static 'vendor/leaflet-fullscreen/leaflet.fullscreen.css' %}">


	<link rel="stylesheet" href="{% static 'vendor/DataTables/datatables.min.css' %}">
	<link rel="stylesheet" href="{% static 'vendor/autocomplete/autocomplete-theme-classic.css' %}">

	<link rel="stylesheet" href="{% static 'css/styles.css' %}">

	<title>{% block title %}{% endblock %} - {{ datahub_name }}</title>
	<script>
		document.documentElement.className = document.documentElement.className.replace("no-js","js");
		document.documentElement.classList.toggle('mac', /Mac|iPhone|iPod|iPad/i.test(navigator.platform))
	</script>
	{% localize off %}
	<script>
		const DATAHUB = {
			CENTER_X: {{ DATAHUB_CENTER_X }},
			CENTER_Y: {{ DATAHUB_CENTER_Y }},
			CENTER_ZOOM: {{ DATAHUB_CENTER_ZOOM }},
		};
	</script>
	{% endlocalize %}
	{% block head %}{% endblock %}
</head>
<body>
	<header>
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<div class="container-xxl">
				<a class="navbar-brand" href="{% url 'app:home' %}">{{ datahub_name }}</a>

				{% if not datahub_login_required or user.is_authenticated %}
					<button id="open-search" type="button" class="btn btn-sm btn-outline-secondary m-searchbutton" aria-label="{% translate "Search" %}">
						<span class="m-searchbutton-label">
							<span class="m-searchbutton-icon">{% icon "search" %}</span>
							<span class="m-searchbutton-placeholder">{% translate "Search" %}</span>
						</span>
						<span class="m-searchbutton-keys">
							<kbd class="m-searchbutton-key m-searchbutton-key--mod"></kbd>
							<kbd class="m-searchbutton-key">K</kbd>
						</span>
					</button>
					{% comment %}
					agolia/autocomplete needs a container where it renders the inputfield, since we
					have our own button, we hide it. There is no functionalty to hide/provide a
					custom html for the trigger element, hiding it is actually recommended
					by the github disussions from the repo. https://github.com/algolia/autocomplete/discussions/1029
					{% endcomment %}
					<div style="display: none" id="autocomplete"></div>
				{% endif %}

				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="{% translate "Toggle navigation" %}">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					{% if not datahub_login_required or user.is_authenticated %}
					<ul class="navbar-nav me-auto mb-2 mb-lg-0">
						{% for st in nav_shape_types %}
							<li class="nav-item"><a class="nav-link" href="{{ st.get_absolute_url }}">{{ st.name }}</a></li>
						{% endfor %}

						{%comment%}{% for type in shape_types %}
						<li class="nav-item"><a class="nav-link" href="{{ url_for('shape_index', shape_type=type) }}">{{ type.title() }}</a></li>
						{% endfor %}
						<li class="nav-item"><a class="nav-link" href="{{ url_for('map') }}">Map</a></li>
						{%endcomment%}

						<li class="nav-item">
							<a class="nav-link pe-0" href="{% url 'datalayers:datalayer_index' %}">
								{% translate "Data Layers" %}
							</a>
						</li>

						{% if nav_datalayer_categories %}
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false" href="#">
								<span class="d-auto d-lg-none">{% translate "Categories" %}</span>
							</a>

							<ul class="dropdown-menu dropdown-menu-end">
								{% for category in nav_datalayer_categories %}
								<li><a class="dropdown-item" href="{{ category.get_absolute_url }}">{{ category.name }}</a></li>
								{% endfor %}
							</ul>
						</li>
						{% endif %}


						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false" href="#">
								{% translate "Tools" %}
							</a>
							<ul class="dropdown-menu dropdown-menu-end">
								<li><a class="dropdown-item" href="{% url "app:tools_picker" %}">{% translate "Location picker" %}</a></li>
							</ul>
						</li>

						{% include 'app/nav.html' %}

					</ul>
					{% endif %}



					<div class="d-flex ms-auto"> {% comment %} ms-auto makes sure the div is postiend on the "end" in the flex parent {% endcomment %}
						{% get_available_languages as LANGUAGES %}
						{% if LANGUAGES|length > 1 %}
						<form style="width: 150px" class="me-2 mb-2 mb-lg-0" action="{% url 'set_language' %}" method="post">
							{% csrf_token %}
							<input name="next" type="hidden" value="{{ redirect_to }}">

							<div class="input-group">
								<span class="input-group-text">{% icon "globe" %}</span>
								<select class="form-select" name="language" onchange="this.form.submit()">
									{% get_language_info_list for LANGUAGES as languages %}
									{% for language in languages %}
										<option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected{% endif %}>
											{{ language.name_local }}
										</option>
									{% endfor %}
								</select>
								{% comment %}
								<input class="btn btn-outline-secondary" type="submit" value="Go">
								{% endcomment %}
							</div>
						</form>
						{% endif %}

						<div class="dropdown">
							<button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
								{% icon "person" %}
							</button>
							<ul class="dropdown-menu dropdown-menu-lg-end">
								{% if user.is_authenticated %}
								<li><a class="dropdown-item" href="{% url 'admin:index' %}">{% translate "Admin" %}</a></li>
								<li>
									<form action="{% url 'logout' %}" method="post">
										{% csrf_token %}
										<button class="btn btn-link" type="submit">{% translate "Logout" %}</button>
									</form>
								</li>
								{% else %}
								<li><a class="dropdown-item" href="{% url "login" %}?next={{ request.path }}">{% translate "Login" %}</a></li>
								{% endif %}
							</ul>
						</div>
					</div>
				</div>

			</div>
		</nav>
	</header>

	<div class="container-xxl my-3">
		{% block content %}{% endblock %}
	</div>

	<footer class="container-xxl mb-1">
		<div class="footer-copy pt-1">
			<small class="text-muted">
				{% if INSTANCE_VERSION %}
				{{ datahub_name }} v{{ INSTANCE_VERSION }} ・
				{% endif%}
				<a href="https://github.com/datasnack/datahub">{% translate "Data Hub" %}</a> v{{ DATAHUB_VERSION }}
			</small>
		</div>
	</footer>


	<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

	<script src="{% static 'vendor/plotly-2.29.1.min.js' %}"></script>

	<script src="{% static 'vendor/d3/d3.v7.min.js' %}"></script>
	<script src="{% static 'vendor/d3/d3.legend.js' %}"></script>

	<script src="{% static 'vendor/leaflet/leaflet.js' %}"></script>
	<script src="{% static 'vendor/leaflet.loading/Control.Loading.js' %}"></script>
	<script src="{% static 'vendor/leaflet-fullscreen/Leaflet.fullscreen.min.js' %}"></script>


	<script src="{% static 'vendor/jQuery/jquery-3.6.0.min.js' %}"></script>
	<script src="{% static 'vendor/DataTables/datatables.min.js' %}"></script>
	<script src="{% static 'js/map.js' %}"></script>


	<script src="{% static 'vendor/autocomplete/autocomplete-js.js' %}"></script>
	<script>
		const { autocomplete } = window['@algolia/autocomplete-js'];

		// the setOpen() API does not work in combination with detached work
		// see https://github.com/algolia/autocomplete/issues/843
		let myautosearch = null;
		function createSearch() {

			// returned struct contains the following functions:
			/* const {
				setActiveItemId,
				setQuery,
				setCollections,
				setIsOpen,
				setStatus,
				setContext,
				refresh,
				update,
				destroy,
			} */
			myautosearch = autocomplete({
				container: '#autocomplete',
				detachedMediaQuery: '',
				// performs q= (empty string) search on open if true, i don't want that
				// but true is needed for custom trigger button, so we initalize a
				// search on each action...
				// see: https://github.com/algolia/autocomplete/discussions/1029
				openOnFocus: false,
				initialState: {
					isOpen: true,
				},
				//onStateChange: function(e) {
					// onStateChange catches a lot of events, even multiple
					// per key stroke. Also ther doesn't seem to be a way to
					// detect of detached Mode is active or not? "isOpen" is the
					// autcomplete panel, not the detchedmode modal thing.
				//},
				placeholder: 'Search for Shapes or Data Layers',
				getSources({ query }) {
					return [
						{
						sourceId: 'suggestions',
						getItems() {
							return fetch('/search?q=' + encodeURIComponent(query))
							.then(response => response.json())
							.then(data => {
								return data.results;
							})
							.catch(error => {
								return [];
							});
						},
						getItemUrl({ item }) {
							return item.url;
						},
						templates: {
							item({ item, createElement }) {
								return createElement("div", {
								dangerouslySetInnerHTML: {
									__html: `<a href="${item.url}">${item.label}</a>`
								}
								});
							},
							noResults() {
							return 'No results matching.';
							},
						},
						},
					];
				},
			});
		}

		var searchNode = document.getElementById('open-search')
		if (searchNode) {
			searchNode.addEventListener("click", function() {
				createSearch();
			});
		}

		document.addEventListener("keydown", ({key}) => {
			if (key === "Escape") {
				if (myautosearch) {
					myautosearch.destroy();
					myautosearch  = null;
				}
			}
		});

		document.addEventListener('keydown', function(event) {
			if (event.key.toLowerCase() === 'k' && (event.ctrlKey || event.metaKey)) {
				event.preventDefault(); // prevent focus/popup of Search Bar in Firefox
				if (document.querySelectorAll('.aa-DetachedOverlay').length > 0) {
					myautosearch.destroy();
					myautosearch = null;
				} else {
					createSearch();
				}
			}
		  });
	</script>

	{% block footer %}{% endblock %}
</body>
</html>
