{% load static %}
{% load i18n %}
{% load l10n %}
{% get_current_language as LANGUAGE_CODE %}
<!doctype html>
<html lang="{{ LANGUAGE_CODE }}" class="no-js">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">

	<link rel="stylesheet" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'vendor/leaflet/leaflet.css' %}">
	<link rel="stylesheet" href="{% static 'vendor/leaflet.loading/Control.Loading.css' %}">
	<link rel="stylesheet" href="{% static 'vendor/DataTables/datatables.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/styles.css' %}">

	<title>{% block title %}{% endblock %} - {{ datahub_name }}</title>
	<script>document.documentElement.className = document.documentElement.className.replace("no-js","js");</script>
	{% localize off %}
	<script>
		const DATAHUB = {
			CENTER_X: {{ DATAHUB_CENTER_X }},
			CENTER_Y: {{ DATAHUB_CENTER_Y }},
			CENTER_ZOOM: {{ DATAHUB_CENTER_ZOOM }},
		};
	</script>
	{% endlocalize %}
	{% block head %}{% endblock %}
</head>
<body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
          <a class="navbar-brand" href="{% url 'app:home' %}">{{ datahub_name }}</a>

          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
			{% if not datahub_login_required or user.is_authenticated %}
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                {% for st in nav_shape_types %}
                <li class="nav-item"><a class="nav-link" href="{{ st.get_absolute_url }}">{{ st.name }}</a></li>
                {% endfor %}

                {%comment%}{% for type in shape_types %}
                <li class="nav-item"><a class="nav-link" href="{{ url_for('shape_index', shape_type=type) }}">{{ type.title() }}</a></li>
                {% endfor %}
                <li class="nav-item"><a class="nav-link" href="{{ url_for('map') }}">Map</a></li>
                {%endcomment%}

                <li class="nav-item">
					<a class="nav-link pe-0" href="{% url 'datalayers:datalayer_index' %}">
						{% translate "Data Layers" %}
					</a>
				</li>

				{% if nav_datalayer_categories %}
                <li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false" href="#">
						<span class="visually-hidden-focusable">{% translate "Categories" %}</span>
					</a>

					<ul class="dropdown-menu dropdown-menu-end">
						{% for category in nav_datalayer_categories %}
						<li><a class="dropdown-item" href="{{ category.get_absolute_url }}">{{ category.name }}</a></li>
						{% endfor %}
					</ul>
				</li>
				{% endif %}

				{% include 'app/nav.html' %}

              </ul>
			{% endif %}
          </div>



		  {% get_available_languages as LANGUAGES %}
		  {% if LANGUAGES|length > 1 %}
          <form style="width: 150px" class="me-2" action="{% url 'set_language' %}" method="post">
			{% csrf_token %}
            <input name="next" type="hidden" value="{{ redirect_to }}">

			<div class="input-group">
				<span class="input-group-text">{% icon "globe" %}</span>
				<select class="form-select" name="language" onchange="this.form.submit()">
					{% get_language_info_list for LANGUAGES as languages %}
					{% for language in languages %}
						<option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected{% endif %}>
							{{ language.name_local }}
						</option>
					{% endfor %}
				</select>
				{% comment %}
    	        <input class="btn btn-outline-secondary" type="submit" value="Go">
				{% endcomment %}
			</div>
        </form>
		{% endif %}


		<div class="dropdown">
            <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              {% icon "person" %}
            </button>
            <ul class="dropdown-menu dropdown-menu-end">
				{% if user.is_authenticated %}
				<li><a class="dropdown-item" href="{% url 'admin:index' %}">{% translate "Admin" %}</a></li>
                <li>
					<form action="{% url 'logout' %}" method="post">
						{% csrf_token %}
						<button class="btn btn-link" type="submit">{% translate "Logout" %}</button>
					</form>
				</li>
				{% else %}
                <li><a class="dropdown-item" href="{% url "login" %}?next={{ request.path }}">{% translate "Login" %}</a></li>
				{% endif %}
            </ul>
		</div>

        {% comment %}
        {% get_available_languages as languages %}
          <div class="dropdown">
            <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              {% translate "View this page in:" %}
            </button>
            <ul class="dropdown-menu dropdown-menu-end">

              {% for lang_code, lang_name in languages %}
                {% language lang_code %}
                <li><a class="dropdown-item" href="#">{{ lang_code|language_name_local }}</a></li>
                {% endlanguage %}
              {% endfor %}
            </ul>
          </div>
          {% endcomment %}
        </div>
      </nav>
    </header>

    <div class="container my-3">
      {% block content %}{% endblock %}
    </div>

	<footer class="container mb-1">
		<div class="footer-copy pt-1">
			<small class="text-muted">
				{% if INSTANCE_VERSION %}
				{{ datahub_name }} v{{ INSTANCE_VERSION }} ・
				{% endif%}
				<a href="https://github.com/datasnack/datahub">{% translate "Data Hub" %}</a> v{{ DATAHUB_VERSION }}
			</small>
		</div>
	</footer>

	<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

	<script src="{% static 'vendor/plotly-2.29.1.min.js' %}"></script>

	<script src="{% static 'vendor/d3/d3.v7.min.js' %}"></script>
	<script src="{% static 'vendor/d3/d3.legend.js' %}"></script>

	<script src="{% static 'vendor/leaflet/leaflet.js' %}"></script>
	<script src="{% static 'vendor/leaflet.loading/Control.Loading.js' %}"></script>
	<script src="{% static 'vendor/jQuery/jquery-3.6.0.min.js' %}"></script>
	<script src="{% static 'vendor/DataTables/datatables.min.js' %}"></script>
	<script src="{% static 'js/map.js' %}"></script>



	{% block footer %}{% endblock %}
</body>
</html>
