{% extends "base.html" %}
{% load i18n %}

{% block title %}{% translate "Data Layers" %}{% endblock %}

{% block content %}

<div class="m-pageheader d-md-flex flex-md-row-reverse align-items-center justify-content-between">
	<div class="d-grid gap-1 d-md-flex justify-content-md-end">
		<div class="btn-group">
			<button type="button" class="btn btn-sm btn-outline-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
				{% icon "download" %} {% translate "Data Layer metadata" %}
			</button>
			<ul class="dropdown-menu dropdown-menu-end">
				<li><a class="dropdown-item" href="{% url 'datalayer_datalayer' %}?format=csv">{% translate "CSV" %}</a></li>
				<li><a class="dropdown-item" href="{% url 'datalayer_datalayer' %}?format=excel">{% translate "Excel" %}</a></li>
			</ul>
		</div>
	</div>

	<h1>{% translate "Data Layers" %}</h1>
</div>

<table class="table table-sm table-striped" id="datalayers">
    <thead>
        <tr>
            <th>{% translate "Category" %}</th>
            <th>{% translate "Name" %}</th>
            <th>{% translate "Key" %}</th>
            <th>{% translate "State" %}</th>
            <th class="no-sort text-end">{% translate "Actions" %}</th>
        </tr>
    </thead>

<tbody>
{% for dl in datalayers %}
    <tr>
        <td class="align-middle">{{ dl.category }}</td>
        <td class="align-middle"><a href="{{ dl.get_absolute_url }}">{{ dl.name }}</a></td>
        <td class="align-middle"><code>{{ dl.key }}</code></td>
        <td class="dl-state-pill" data-order="{{ dl.has_class|yesno:"1,0" }}{{ dl.has_files|yesno:"1,0" }}{{ dl.is_loaded|yesno:"1,0" }}">
			{% include "datalayers/datalayer_states.html" with mode="inline" datalayer=dl %}
        </td>
        <td>
            <div class="d-flex justify-content-end">
                <a href="{{ dl.get_absolute_url }}"  class="btn btn-sm btn-link">{% translate "Details" %}</a>
            </div>
        </td>
    </tr>
{% endfor %}
</tbody>

</table>
{% endblock %}

{% block footer %}
<script>
$(document).ready(function() {
	$('#datalayers').DataTable({
		pageLength: 25,
		//order: [[0, 'asc']],
		columnDefs: [
		{targets: 'no-sort', orderable: false }
	]
	});
});
</script>
{% endblock %}
