{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load percentageformat %}
{% load l10n %}
{% load coverage %}
{% load markdown %}
{% load call_method %}
{% load link_license %}

{% block title %}{{ datalayer.name }}{% endblock %}

{% block content %}
<div class="m-pageheader d-md-flex flex-md-row-reverse align-items-center justify-content-between">
	<div class="mb-2 mb-md-0">
		<div class="btn-group">
			<button type="button"{% if not datalayer.is_available %} disabled{% endif %} class="btn btn-sm btn-outline-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
				{% icon "download" %} {% translate "Processed data" %}
			</button>
			{% if datalayer.is_available %}
			<ul class="dropdown-menu">
				<li><a class="dropdown-item" rel="nofollow" href="{% url 'datalayer_data' %}?datalayer_key={{ datalayer.key}}&format=csv">{% translate "CSV" %}</a></li>
				<li><a class="dropdown-item" rel="nofollow" href="{% url 'datalayer_data' %}?datalayer_key={{ datalayer.key}}&format=excel">{% translate "Excel" %}</a></li>
			</ul>
			{% endif %}
		</div>

		<button type="button" class="btn btn-sm btn-outline-primary" data-bs-toggle="modal" data-bs-target="#modal_api_{{ datalayer.key }}">{% translate "API" %}</button>

		{% if perms.shapes.change_datalayer %}
			<a class="btn btn-sm btn-outline-primary" href="{% url "admin:datalayers_datalayer_change" datalayer.id %}">{% icon "pencil" %}</a>
		{% endif %}
	</div>

	<h1>{{ datalayer.name }}</h1>
</div>

<div class="row mb-3">
	<div class="col-12 col-xl-8">

		<div class="mb-3 small text-muted">
			{% translate "Key" %}: <code>{{ datalayer.key }}</code>

			| {% if datalayer.data_type == 'primary' %}
				{% translate "Primary data" %}
			{% elif datalayer.data_type == 'secondary' %}
				{% translate "Secondary data" %}
			{% else %}
				{{ datalayer.data_type }}
			{% endif %}

			{% with category=datalayer.category %}
				{% if category %}
					| {% translate "Category" %}: <a href="{{ datalayer.category.get_absolute_url }}">{{ datalayer.category }}</a>
				{% endif %}
			{% endwith %}

			{% include "datalayers/partials/tags.html" with datalayer=datalayer %}
		</div>

		<div class="mb-3">
			{% markdown datalayer.description %}

			{% if datalayer.caveats %}
				<div class="alert alert-warning pb-0">
					{% markdown datalayer.caveats %}
				</div>
			{% endif %}
		</div>

		{% with sources=datalayer.sources.all %}
			{% if sources|length %}
			<div class="mb-3">
				{% translate "Sources of Data Layer:" %}
				<ul>
					{% for s in sources %}
						<li>
							<span class="text-secondary">
								{% if s.metadata_type == "data" %}
									{% icon "file-binary" %}
								{% elif s.metadata_type == "information" %}
									{% icon "project-roadmap" %}
								{# else not needed, if no icon is known don't show a fallback #}
								{%endif%}
							</span>

							<a href="#source-{{ s.id }}">
							{{ s.name}}
						</a></li>
					{% endfor %}
				</ul>
			</div>
			{% endif %}
		{% endwith %}



		{% with related=datalayer.related_to.all %}
			{% if related|length %}
			<details class="mb-3">
				<summary>
					{% blocktranslate with count=related|length %}
					Related Data Layers ({{ count }})
					{% endblocktranslate %}
				</summary>
				<ul>
					{% for reld in related %}
						<li><a class="text-reset text-decoration-none" href="{{ reld.get_absolute_url }}">

							{% if reld.has_class %}
								<span class="text-secondary" title="{% blocktranslate with resolution=reld.temporal_resolution_str%}Temporal resolution: {{ resolution }}{% endblocktranslate %}">
								{% with "calendar-"|add:reld.temporal_resolution_str as dl_temporal_icon %}
									{% icon dl_temporal_icon ignore_missing=True %}
								{% endwith %}
								</span>
							{% endif %}

							<span class="link-primary text-decoration-underline">{{ reld.name}}</span>
							(<code class="text-code">{{ reld.key}}</code>)
						</a></li>
					{% endfor %}
				</ul>
			</details>
			{% endif %}
		{% endwith %}

	</div>

	<div class="col-12 col-xl-4">



		<div class="card mb-3">
			<h5 class="card-header">{% translate "Data Layer information" %}</h5>
			<div class="card-body">

				<div class="row">

					<div class="col-12 col-sm-12">


						<div class="col-12 col-sm-12">


							<div class="mb-3">
								{% include "datalayers/datalayer_states.html" with mode="large" datalayer=datalayer %}
							</div>

							<div class="text-muted">
								<a class="small" href="{% url "datalayers:datalayer_log" datalayer.key %}">{%translate "Log" %}</a> |
								<a class="small" href="#">{%translate "Files" %}</a>
							</div>

						</div>
						<table class="table table-sm small mb-0">
							<tbody>
								<tr>
									<td>{% translate "Operation" %}</td>
									<td>{{ datalayer.operation }}</td>
								</tr>

								<tr>
									<td>{% translate "Database unit" %}</td>
									<td>{{ datalayer.database_unit }}</td>
								</tr>

								<tr>
									<th class="fw-normal">{% translate "Value type" %}</th>
									<td><code>{{ datalayer.value_type|default_if_none:"-" }}</code></td>
								</tr>
								<tr>
									<th class="fw-normal">{% translate "Temporal resolution" %}</th>
									<td>
										{% if datalayer.has_class %}
											<span class="text-secondary" title="{% blocktranslate with resolution=datalayer.temporal_resolution_str%}Temporal resolution: {{ resolution }}{% endblocktranslate %}">
											{% with "calendar-"|add:datalayer.temporal_resolution_str as dl_temporal_icon %}
												{% icon dl_temporal_icon ignore_missing=True %}
											{% endwith %}
											</span>
										{% endif %}
										<code>{{ datalayer.temporal_resolution|default_if_none:"-" }}</code>
									</td>
								</tr>
							</tbody>
						</table>


					</div>
				</div>

			</div>
		</div>



		{% if datalayer.is_available %}
			<table class="table table-sm small caption-top">
				<caption>{% translate "Data availability per spatial unit within the integrated time period" %}</caption>

				<thead>
					<tr>
						<th>{% translate "Shape type" %}</th>
						<th>{% translate "First" %}</th>
						<th>{% translate "Last" %}</th>
						<th>{% translate "Availability" %}</th>
					</tr>
				</thead>
				<tbody class="table-group-divider">
					{% for type in datalayer.get_available_shape_types %}
					<tr class="small">
						<td>
							<a href="{{ type.get_absolute_url }}">{{type.name}}</a>
						</td>
						<td></td>
						<td></td>
						<td>
							{{ datalayer|coverage:type|percentageformat }}
						</td>
					</tr>
					{% endfor %}
					<tr class="table-active">
						<td>{% translate "Total" %}</td>
						<td>{{ datalayer.first_time }}</td>
						<td>{{ datalayer.last_time }}</td>
						<td>{{ datalayer.value_coverage|percentageformat }}</td>
					</tr>
				</tbody>
			</table>
		{% endif %}



	</div>
</div>


<div class="row">

	<div class="col-12">

		<h2>{% translate "Analytical overview"%}
	</div>

	<div class="col-12">

		<div class="btn-toolbar justify-content-between mb-3">
			<div class="input-group input-group-sm" style="max-width: 500px">
				<select class="form-select js-map-shape_type" id="js-shape_type">
				{% for type in datalayer.get_available_shape_types %}
				<option value="{{ type.key }}">{{ type.name }}</option>
				{% endfor %}
				</select>

				{% if datalayer.temporal_resolution_str == 'year' %}
				<select class="form-select" id="js-map-date">
					{% for year in datalayer.get_available_years %}
					<option value="{{ year }}">{{ year }}</option>
					{% endfor %}
				</select>
				{% elif datalayer.temporal_resolution_str == 'date' %}
				<input type="date" class="form-control" id="js-map-date" min="{{ datalayer.first_time|date:"Y-m-d" }}" max="{{ datalayer.last_time|date:"Y-m-d" }}">
				{% endif %}

				<select class="form-select" id="js-map-mode">
					<option value="min_max">[min, max]</option>

					{% if datalayer.value_type_str == 'percentage' %}
					<option value="0_1">[0, 1]</option>
					{% endif %}
				</select>


				<button id="js-add-to-map" class="btn btn-outline-secondary btn-sm">{% translate "Load map" %}</button>
			</div>

			{% if datalayer.has_vector_data %}

			<div class="btn-group ms-5">
				<button class="btn btn-outline-secondary btn-sm" id="js-load-data">{% translate "Load raw data" %}</button>
			</div>
			{% endif %}


		</div>

		<div class="mb-3" id="map" style="height: 400px; width: 100%"></div>

		<div id="legend"></div>

		{% if datalayer.is_available %}
		<hr>
		<div class="mb-3">
			<dh-chart dl="{{ datalayer.key }}" query='{"shape_type": "{{ datalayer.get_available_shape_types.0.key}}"}'></dh-chart>
		</div>
		{%endif%}

	</div>

	<div class="col-12">

		<div class="m-pageheader d-md-flex flex-md-row-reverse align-items-center justify-content-between mt-5">
			<div class="mb-2 mb-md-0">
				<div class="btn-group">
					<button type="button" class="btn btn-sm btn-outline-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
						{% icon "download" %} {% translate "Citation data" %}
					</button>

					<ul class="dropdown-menu">
						<li><a class="dropdown-item" rel="nofollow" href="#">BibTeX</a></li>
					</ul>
				</div>
			</div>

			<h2 class="mb-0">{% translate "Source information"%}</h2>
		</div>

	</div>

	<div class="col-12">


		{% for s in datalayer.sources.all %}

		<div class="card mb-3" id="source-{{ s.id}}">
			<h5 class="card-header" data-bs-toggle="collapse" data-bs-target="#source-{{ s.id}}-body" aria-expanded="true">
				[{{ forloop.counter }} of {{ datalayer.sources.all|length }}] {{ s.name }}
			</h5>
			<div id="source-{{ s.id}}-body" class="accordion-collapse collapse show">
			<div class="card-body">


				<div class="row">


					<div class="col-12 col-sm-6">

						<div class="mb-3 d-flex flex-row align-items-center">

							<div class="me-3">
								{% if s.metadata_type == "data" %}
									{% icon "file-binary" %} Data
								{% elif s.metadata_type == "information" %}
									{% icon "project-roadmap" %} Information
								{%else%}
									{{ s.metadata_type }}
								{%endif%}
							</div>

							{# PID part #}
							<div class="">
								{% if s.pid_type == 'DOI'%}
									<a class="c-pidbadge" href="https://doi.org/{{ s.pid }}">
										<span class="c-pidbadge-type">{{ s.pid_type}}</span><span class="c-pidbadge-pid">{{ s.pid }}</span>
									</a>

									{% include "app/partials/copy2clipboard.html" with content=s.pid %}

								{% elif s.pid_type == 'URL'%}
									<a href="{{ s.pid}}">{{ s.pid }}</a>
								{% else %}
									{{s.pid_type }} | {{ s.pid }}
								{% endif %}
							</div>

						</div>

						{# Source #}
						{% if s.source_name or s.source_link %}
						<div class="mb-3">
							{% translate "Source: " %}
							{% if s.source_name and s.source_link %}
								<a href="{{ s.source_link}}">{{ s.source_name }}</a>
							{% elif s.source_name %}
								{{ s.source_name }}
							{% elif s.source_link %}
								<a href="{{ s.source_link}}">{{ s.source_link}}</a>
							{% endif %}
						</div>
						{% endif %}

						{# Description #}
						{% if s.description %}
							{% markdown s.description %}
						{%else %}
							<p class="text-muted fst-italic">{% translate "No description provided." %}</p>
						{%endif%}

						<h4>{% translate "Citation" %}</h4>

						<p>
							{% if s.use_for_citation %}
								<span class="text-success">{% icon "check-circle" %}</span> {% translate "This source is included in the Data Layer citation." %}
							{% else %}
								{% icon "circle-slash" %}  {% translate "This source is <b>not</b> included in the Data Layer citation." %}
							{% endif %}
						</p>


						{% if s.citation_bibtex or s.citation_plain %}
						<div class="row mb-3">
							<div class="col-12 col-lg-10">
								<div class="btn-group btn-group-sm mb-1" role="group">
									<button type="button" class="btn btn-outline-secondary js-paste-to" data-target="citation-{{s.id}}" data-content="{{ s.citation_bibtex}}" {% if not s.citation_bibtex %}disabled{%endif%}>{% translate "BibTeX" %}</button>
									<button type="button" class="btn btn-outline-secondary js-paste-to" data-target="citation-{{s.id}}" data-content="{{ s.citation_plain}}" {% if not s.citation_plain %}disabled{%endif%}>{% translate "Plain text" %}</button>
								</div>
							</div>

							{% comment %}
							{# demo markup for a potential CSL selector for generating plain text citations based on bibtex #}
							<div class="col-10 col-lg-6">
								<div class="input-group input-group-sm mb-1">
									<input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="button-addon2">
									<button class="btn btn-outline-secondary" type="button" id="button-addon2">{% translate "Load" %}</button>
								  </div>
							</div>
							{% endcomment %}

							<div class="col-2 col-lg-2">
								<div class="float-end">
									{% with s.id|stringformat:"s" as source %}
										{% include "app/partials/copy2clipboard.html" with source="#citation-"|add:source %}
									{% endwith %}
								</div>
							</div>

							<div class="col-12">
								<textarea class="form-control" id="citation-{{s.id}}" rows="3">{% if s.citation_bibtex %}{{ s.citation_bibtex}}{%elif s.citation_plain%}{{s.citation_plain}}{%endif%}</textarea>
							</div>
						</div>
						{% else %}
							<div class="alert alert-light" role="alert">
								{% translate "No citation information available." %}
							</div>
						{%endif%}
					</div>

					{% if s.metadata_type == "data" %}
					<div class="col-12 col-sm-6">
						<table class="table table-sm table-meta_data">
							<thead>
								<tr>
									<th>{% translate "Information" %}</th>
									<th>{% translate "Description" %}</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>{% translate "Format" %}</td>
									<td>
										{{ s.format }}

										{% if s.format_api %}
											(API)
										{%endif%}
									</td>
								</tr>
								<tr>
									<td>{% translate "Format unit" %}</td>
									<td>{{ s.format_unit }}</td>
								</tr>

								{# Spatial #}
								{% if s.spatial_epsg %}
								<tr>
									<td>{% translate "Projection" %}</td>
									<td>
										<a rel="noreferrer" href="https://epsg.io/{{ s.spatial_epsg }}"> EPSG:{{ s.spatial_epsg }}</a>
									</td>
								</tr>
								{% endif %}
								<tr>
									<td>{% translate "Spatial resolution" %}</td>
									<td>
										{{ s.spatial_resolution }}

										{% if s.has_spatial_coverage_cell_dimension %}
										<div>
											<!-- y -->
											{{ s.spatial_resolution_y_distance|floatformat:2 }}&#8239;{{ s.spatial_resolution_y_unit }} &times;
											<!-- x -->
											{{ s.spatial_resolution_x_distance|floatformat:2 }}&#8239;{{ s.spatial_resolution_x_unit }}
										</div>
										{% endif %}
									</td>
								</tr>
								<tr>
									<td>{% translate "Spatial coverage" %}</td>
									<td>
										{{ s.spatial_coverage }}

										{% if s.has_spatial_coverage_bbox %}
											<div class="my-3 mx-5 position-relative border border-dark small" style="width: 150px; height: 100px;">
												<!-- North -->
												<div class="position-absolute top-0 start-50 translate-middle bg-secondary-subtle border border-dark px-2">{{ s.spatial_coverage_north_bound_latitude|floatformat:2 }}</div>
												<!-- South -->
												<div class="position-absolute top-100 start-50 translate-middle border border-dark bg-secondary-subtle px-2">{{ s.spatial_coverage_south_bound_latitude|floatformat:2 }}</div>
												<!-- West -->
												<div class="position-absolute top-50 start-0 translate-middle border border-dark bg-secondary-subtle px-2">{{ s.spatial_coverage_west_bound_longitude|floatformat:2 }}</div>
												<!-- East -->
												<div class="position-absolute top-50 start-100 translate-middle border border-dark bg-secondary-subtle px-2">{{ s.spatial_coverage_east_bound_longitude|floatformat:2 }}</div>
											</div>
										{%endif%}
									</td>
								</tr>

								{# Temporal #}
								<tr>
									<td>{% translate "Temporal resolution" %}</td>
									<td>{{ s.temporal_resolution }}</td>
								</tr>
								<tr>
									<td>{% translate "Temporal coverage" %}</td>
									<td>
										{% if s.temporal_coverage_start == s.temporal_coverage_end %}
											{{ s.temporal_coverage_start }}
										{% elif s.temporal_coverage_start and s.temporal_coverage_end %}
										{{ s.temporal_coverage_start }}–{{ s.temporal_coverage_end }}
										{%else %}
											{{ s.temporal_coverage_start }}
											{{ s.temporal_coverage_end }}
										{%endif%}
									</td>
								</tr>
								<tr>
									<td>{% translate "Language" %}</td>
									<td>{{ s.language }}</td>
								</tr>
								<tr>
									<td>{% translate "License" %}</td>
									<td>{{ s.license|link_license }}</td>
								</tr>

								<tr>
									<td>{% translate "Date published" %}</td>
									<td>{{ s.date_published }}</td>
								</tr>
								<tr>
									<td>{% translate "Date last accessed" %}</td>
									<td>{% if s.date_last_accessed %}{{ s.date_last_accessed }}{% endif %}</td>
								</tr>
							</tbody>
						</table>
					</div>
					{% endif %}

				</div>

				{% comment %} data cite{% endcomment %}


				{%if s.datacite %}

					<h4>{% translate "DataCite information" %}</h4>

					{%if s.datacite %}
						{%if s.datacite.creators %}
						<details>
							<summary>{% translate "Authors" %} ({{  s.datacite.creators|length }})</summary>
							<ul class="list-inline">
							{% for creator in s.datacite.creators %}
								<li class="list-inline-item">
									{{ creator.givenName }}
									{{ creator.familyName }}

									{% if creator.nameIdentifiers %}
										{% for cid in creator.nameIdentifiers %}
											{% if cid.nameIdentifierScheme == "ORCID" %}
												<a href="{{ cid.nameIdentifier }}">{% icon "orcid" %}</a>
											{% endif %}
										{% endfor %}
									{% endif %}

									{% if not forloop.last %}
										<span class="text-body-tertiary">;</span>
									{% endif %}
								</li>
							{% endfor %}
							</ul>
						</details>

						{%endif%}
					{%endif%}



					{% if s.datacite.relatedIdentifiers %}

					<details>
						<summary>{% translate "Related items" %} ({{  s.datacite.relatedIdentifiers|length }})</summary>

						<table class="table table-sm">
							<thead>
								<tr>
									<th>{% translate "Relation" %}</th>
									<th>{% translate "PID" %}</th>
									<th>{% translate "Resource" %}</th>
									<th>{% translate "Available on this Data Layer" %}</th>
								</tr>
							</thead>
							<tbody>
								{% for related in s.datacite.relatedIdentifiers %}
								<tr>
									<td>{{ related.relationType}}</td>
									<td>
										{%if related.relatedIdentifierType == "DOI" %}
										<a href="https://doi.org/{{ related.relatedIdentifier }}">
											<div class="c-pidbadge">
												<span class="c-pidbadge-type">{{ related.relatedIdentifierType}}</span><span class="c-pidbadge-pid">{{ related.relatedIdentifier }}</span>
											</div>
										</a>
										{%elif related.relatedIdentifierType == "URL" %}
										<a href="{{ related.relatedIdentifier }}">
											{{ related.relatedIdentifier}}
										</a>
										{%else%}
											{{ related.relatedIdentifierType}}: {{ related.relatedIdentifier }}
										{%endif%}
									</td>
									<td>{{ related.resourceTypeGeneral}}</td>
									<td>
										{% call_method s "related_item" related.relatedIdentifierType related.relatedIdentifier as related_item %}

										{% if related_item %}
											{{ related_item.name }}
											<a href="#source-{{ related_item.id}}" title="{%translate "Scroll to source" %}" class="text-decoration-none">↩</a>
										{% else %}
											-
										{% endif %}

									</td>
								</tr>
								{% endfor %}
							</tbody>
						</table>

					</details>
					{% endif %}


				{%endif%}


			</div>
		</div>
	</div>

		{% endfor %}

	</div>
</div>
{% endblock %}


{% block footer %}

{% include "datalayers/partials/api_modal.html" with datalyer=datalayer %}


<script type="module">
document.querySelectorAll("button[data-target]").forEach(button => {
	button.addEventListener("click", function () {
		let targetId = this.getAttribute("data-target");
		let content = this.getAttribute("data-content");
		let textArea = document.getElementById(targetId);

		if (textArea) {
			textArea.value = content;
		}
	});
});



document.querySelectorAll(".js-clipboard").forEach((button) => {
	button.addEventListener("click", function () {
	const content = button.dataset.clipboardContent;
	const sourceSelector = button.dataset.clipboardSource;
	let textToCopy = "";

	if (content) {
		textToCopy = content;
	} else if (sourceSelector) {
		const sourceElement = document.querySelector(sourceSelector);
		if (sourceElement) {
		if (sourceElement.tagName === "TEXTAREA" || sourceElement.tagName === "INPUT") {
			textToCopy = sourceElement.value;
		} else {
			textToCopy = sourceElement.textContent;
		}
		}
	}

	if (textToCopy) {
		navigator.clipboard.writeText(textToCopy)
		.then(() => {
			toggleIcons(button);
		})
		.catch((err) => {
			alert("Error copying to clipboard: " + err);
		});
	} else {
		alert("Nothing to copy!");
	}
	});
});


function toggleIcons(button) {
const copyIcon = button.querySelector(".js-copy");
const doneIcon = button.querySelector(".js-done");
if (copyIcon && doneIcon) {
	copyIcon.style.display = "none";
	doneIcon.style.display = "inline-block";
	setTimeout(() => {
	copyIcon.style.display = "inline-block";
	doneIcon.style.display = "none";
	}, 1000);
}
}

</script>


<script type="module">

var map = new MyMap('map');

$('#js-load-data').on('click', function(e) {
	map.load_data_for_layer({
		datalayer_id: {{ datalayer.id}},
		datalayer_key: '{{datalayer.key}}',

		{% with callback=datalayer.leaflet_popup %}
		{% if callback %}
		{% autoescape off %}
		format_callback: {{ callback}},
		{% endautoescape %}
		{% endif %}
		{% endwith %}
	});
});

var currentResult;
$('#js-add-to-map').on('click', async function() {
	map.map.fire('dataloading');

	let shape_type = $('#js-shape_type').val()
    let date = $('#js-map-date').val();
    if (!date) {
        alert("Please select a date first.")
        return;
    }

	let obj = {
		datalayer_id: {{ datalayer.id}},
		shape_type: shape_type,
		start_date: date,
		end_date: date
	};
	const url = new URL('/api/datalayers/data/', window.location.origin);
	url.search = new URLSearchParams(obj);
	const response = await d3.json(url);
	const valuemap = new Map(response.data.map(d => [d.shape_id, d.value]));


	let mode = $('#js-map-mode').val();
	let color;

	if (mode == "min_max") {
		color = d3.scaleSequential(d3.extent(valuemap.values()), d3.interpolateYlGnBu);
	} else {
		color = d3.scaleSequential([0, 1], d3.interpolateYlGnBu);
	}


	function style(feature) {
		let style = {
			weight: 1,
			opacity: 1,
			color: '#aaa',
			//dashArray: '3',
			fillOpacity: 1
		};

		let shape_id = feature.properties.id;
		let value = valuemap.get(shape_id)


		if (value !== undefined) {
			style['fillColor'] = color(value);
		} else {
			style['fillColor'] = '#000000';
			style['fillOpacity'] = 0.1;
		}

		return style;
	}

	let query ={
		format: 'geojson',
		shape_type: shape_type,
	};
	let query_string = new URLSearchParams(query).toString();
	$.getJSON(`/api/shapes/geometry/?${query_string}`, function(data) {
		// if there are results from a earlier request deltee them,
		// so we don't have stacked charts on the map
		if (currentResult) {
			currentResult.remove();
		}

		currentResult = L.geoJSON(data, {
			style: style,
			onEachFeature: function (feature, layer) {
				const p = feature.properties;
				layer.bindPopup(`<h5 class="mb-0">${p['name']}</h5>
				<p class="mt-0 mb-1">
				<small class="text-muted">${p['type']}</small>
				</p>
				Value: ${valuemap.get(p.id)}<br>
				<a href="${p['url']}" class="">Details</a>`);
			}
		}).addTo(map.map);
		map.map.fitBounds(currentResult.getBounds());

		let legend = Legend(color, {
			title: '{{ datalayer.name}}{% if datalayer.format_suffix %} ({{ datalayer.format_suffix }}){% endif %}',
			{% if datalayer.value_type_str == 'percentage' %}
			tickFormat: '%'
			{%endif%}
		});
		document.getElementById('legend').innerHTML = "";
		document.getElementById('legend').appendChild(legend);


		map.map.fire('dataload');
	}).fail(function(data) {
		alert("Something went wrong during loading the geometry of the shape.");
		map.map.fire('dataload');
	});

	map.map.fire('dataloading');
});
</script>

<script type="module">
hljs.highlightAll();
</script>

{% endblock %}
