{% extends "base.html" %}
{% load i18n %}
{% load percentageformat %}
{% load l10n %}
{% load coverage %}
{% block title %}{{ datalayer.name }}{% endblock %}

{% block content %}
<div class="m-pageheader d-md-flex flex-md-row-reverse align-items-center justify-content-between">
	<div class="mb-2 mb-md-0">
		<div class="btn-group">
			<button type="button" class="btn btn-sm btn-outline-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
				{% icon "download" %} {% translate "Processed data" %}
			</button>
			<ul class="dropdown-menu">
				<li><a class="dropdown-item" href="{% url 'datalayer_data' %}?datalayer_id={{ datalayer.id}}&format=csv">{% translate "CSV" %}</a></li>
				<li><a class="dropdown-item" href="{% url 'datalayer_data' %}?datalayer_id={{ datalayer.id}}&format=excel">{% translate "Excel" %}</a></li>
			</ul>
		</div>

		<button type="button" class="btn btn-sm btn-outline-primary" data-bs-toggle="modal" data-bs-target="#api">API</button>

		{% if perms.shapes.change_datalayer %}
			<a class="btn btn-sm btn-outline-primary" href="{% url "admin:datalayers_datalayer_change" datalayer.id %}">{% icon "pencil" %}</a>
		{% endif %}
	</div>

	<h1>{{ datalayer.name }}</h1>
</div>

<div class="row mb-3">
	<div class="col-12 col-md-6">

		<div class="mb-3 small text-muted">
			{% translate "Key" %}: <code>{{ datalayer.key }}</code> |
			{% translate "Category" %}: <a href="{{ datalayer.category.get_absolute_url }}">{{ datalayer.category }}</a> |
			#tags
		</div>

		<div class="mb-3">
			{{ datalayer.description }}
		</div>

	</div>

	<div class="col-12 col-md-3">
		<table class="table table-sm small">
			<tbdoy>
				<tr>
					<th class="fw-normal">{% translate "Value type" %}</th>
					<td>{{ datalayer.value_type|default_if_none:"-" }}</td>
				</tr>
				<tr>
					<th class="fw-normal">{% translate "Temporal resolution" %}</th>
					<td>{{ datalayer.temporal_resolution|default_if_none:"-" }}</td>
				</tr>
				<tr>
					<th class="fw-normal">{% translate "First/Last" %}</th>
					<td>
						{{ datalayer.first_time }}
						/
						{{ datalayer.last_time }}
						({{ datalayer.value_coverage|percentageformat }})
					</td>
				</tr>
				<tr>
					<td colspan="2">

						<table class="table table-sm small mb-0">
							<thead>
								<tr>
									<th class="fw-normal">{% translate "Shape type" %}</th>
									<th class="fw-normal">{% translate "Coverage" %}</th>
								</tr>
							</thead>
							<tbody>
							{% for type in datalayer.get_available_shape_types %}
								<tr>
									<td>
										<a href="{{ type.get_absolute_url }}">{{type.name}}</a>
									</td>
									<td>
										{{ datalayer|coverage:type|percentageformat }}
									</td>
								</tr>
							{% endfor %}
							</tbody>
						</table>

					</td>
				</tr>
			</tbody>
		</table>
	</div>

	<div class="col-12 col-md-3">

		<div class="mb-3">
			<span class="datalayer-state
				{% if datalayer.has_class %}datalayer-state--active
				{% else %}datalayer-state--inactive
				{% endif %}">
				{% icon "file-code" %}
			</span> <span class="small text-secondary">{% translate "Source file available " %}</span> <br>

			<span class="datalayer-state
				{% if datalayer.has_files %}datalayer-state--active
				{% else %}datalayer-state--inactive
				{% endif %}">
				{% icon "file-directory" %}
			</span> <span class="small text-secondary">{% translate "Data is available local" %}</span> <br>

			<span class="datalayer-state
				{% if datalayer.is_loaded %}datalayer-state--active
				{% else %}datalayer-state--inactive
				{% endif %}">
				{% icon "database" %}
			</span> <span class="small text-secondary">{% translate "Loaded into database" %}</span>
		</div>

		<div class="text-muted">
			<a class="small" href="{% url "datalayers:datalayer_log" datalayer.id %}">{%translate "Log" %}</a> |
			<a class="small" href="#">{%translate "Files" %}</a>
		</div>

	</div>
</div>


<div class="row">

	<div class="col-12 col-xl-8">

		<div class="btn-toolbar justify-content-between mb-3">
			<div class="input-group input-group-sm" style="max-width: 500px">
				<select class="form-select js-map-shape_type" id="js-shape_type">
				{% for type in datalayer.get_available_shape_types %}
				<option value="{{ type.key }}">{{ type.name }}</option>
				{% endfor %}
				</select>

				{% if datalayer.temporal_resolution_str == 'year' %}
				<select class="form-select" id="js-map-date">
					{% for year in datalayer.get_available_years %}
					<option value="{{ year }}">{{ year }}</option>
					{% endfor %}
				</select>
				{% elif datalayer.temporal_resolution_str == 'date' %}
				<input type="date" class="form-control" id="js-map-date" min="{{ datalayer.first_time|date:"Y-m-d" }}" max="{{ datalayer.last_time|date:"Y-m-d" }}">
				{% endif %}

				<select class="form-select" id="js-map-mode">
					<option value="min_max">[min, max]</option>

					{% if datalayer.value_type_str == 'percentage' %}
					<option value="0_1">[0, 1]</option>
					{% endif %}
				</select>


				<button id="js-add-to-map" class="btn btn-outline-secondary btn-sm">Load map</button>
			</div>

			{% if datalayer.has_vector_data %}

			<div class="btn-group ms-5">
				<button class="btn btn-outline-secondary btn-sm" id="js-load-data">Load raw data</button>
			</div>
			{% endif %}


		</div>

		<div class="mb-3" id="map" style="height: 400px; width: 100%"></div>

		<div id="legend"></div>



		<hr>

		<div class="mb-3">
			<div id="chart"></div>
		</div>

	</div>
	<div class="col-12 col-xl-4">
		<div class="card mb-3">
			<h5 class="card-header">{% translate "Data type and processing" %}</h5>
			<div class="card-body">
				<table class="table table-sm table-meta_data mb-0">
					<thead>
						<tr>
							<th>{% translate "Information" %}</th>
							<th>{% translate "Description" %}</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>{% translate "Necessity" %}</td>
							<td>{{ datalayer.necessity }}</td>
						</tr>
						<tr>
							<td>{% translate "Format" %}</td>
							<td>{{ datalayer.format }}</td>
						</tr>
						<tr>
							<td>{% translate "Operation" %}</td>
							<td>{{ datalayer.operation }}</td>
						</tr>
						<tr>
							<td>{% translate "Original unit" %}</td>
							<td>{{ datalayer.original_unit }}</td>
						</tr>
						<tr>
							<td>{% translate "Database unit" %}</td>
							<td>{{ datalayer.database_unit }}</td>
						</tr>
						<tr>
							<td>{% translate "Spatial details" %}</td>
							<td>{{ datalayer.details_spatial }}</td>
						</tr>
						<tr>
							<td>{% translate "Temporal details" %}</td>
							<td>{{ datalayer.details_temporal }}</td>
						</tr>
						<tr>
							<td>{% translate "Timeframe" %}</td>
							<td>{{ datalayer.timeframe }}</td>
						</tr>
						<tr>
							<td>{% translate "Related Sources" %}</td>
							<td>{{ datalayer.related_sources }}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

		<div class="card mb-3">
			<h5 class="card-header">{% translate "Metadata information" %}</h5>
			<div class="card-body">
				<table class="table table-sm table-meta_data mb-0">
					<thead>
						<tr>
							<th>{% translate "Information" %}</th>
							<th>{% translate "Description" %}</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>{% translate "Creator" %}</td>
							<td>{{ datalayer.creator }}</td>
						</tr>
						<tr>
							<td>{% translate "Date included" %}</td>
							<td>{{ datalayer.included_date }}</td>
						</tr>
						<tr>
							<td>{% translate "Type" %}</td>
							<td>{{ datalayer.type }}</td>
						</tr>
						<tr>
							<td>{% translate "Identifier" %}</td>
							<td>{{ datalayer.identifier }}</td>
						</tr>
						<tr>
							<td>{% translate "Source" %}</td>
							<td>{{ datalayer.source }}</td>
						</tr>
						<tr>
							<td>{% translate "Link to Source" %}</td>
							<td>{{ datalayer.source_link|urlize }}</td>
						</tr>

						<tr>
							<td>{% translate "Citation" %}</td>
							<td>{{ datalayer.citation }}</td>
						</tr>
						<tr>
							<td>{% translate "Language" %}</td>
							<td>{{ datalayer.language }}</td>
						</tr>
						<tr>
							<td>{% translate "License" %}</td>
							<td>{{ datalayer.license }}</td>
						</tr>
						<tr>
							<td>{% translate "Coverage" %}</td>
							<td>{{ datalayer.coverage }}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

		{% comment %}
		<div class="card mb-3">
			<h5 class="card-header">{% translate "DataCite" %}</h5>
			<div class="card-body">
				<a href="https://doi.org/{{ datalayer.doi}}">{{ datalayer.doi}}</a>

				<a href="{% url 'datalayers:datalayer_datacite' datalayer.id %}">DataCite</a>
			</div>
		</div>
		{% endcomment %}

	</div>
</div>
{% endblock %}


{% block footer %}
<script>
var map = get_base_map('map');

$('#js-load-data').on('click', function(e) {
	load_data_for_layer(map, {
		datalayer_id: {{ datalayer.id}},
		datalayer_key: '{{datalayer.key}}'
	});
});

$('#js-add-to-map').on('click', async function() {
	map.fire('dataloading');

	let shape_type = $('#js-shape_type').val()
    let date = $('#js-map-date').val();
    if (!date) {
        alert("Please select a date first.")
        return;
    }

	let obj = {
		datalayer_id: {{ datalayer.id}},
		shape_type: shape_type,
		start_date: date,
		end_date: date
	};
	const url = new URL('/api/datalayers/data/', window.location.origin);
	url.search = new URLSearchParams(obj);
	const response = await d3.json(url);
	const valuemap = new Map(response.data.map(d => [d.shape_id, d.value]));


	let mode = $('#js-map-mode').val();
	let color;

	if (mode == "min_max") {
		color = d3.scaleSequential(d3.extent(valuemap.values()), d3.interpolateYlGnBu);
	} else {
		color = d3.scaleSequential([0, 1], d3.interpolateYlGnBu);
	}


	function style(feature) {
		let style = {
			weight: 1,
			opacity: 1,
			color: '#aaa',
			//dashArray: '3',
			fillOpacity: 1
		};

		let shape_id = feature.properties.id;
		let value = valuemap.get(shape_id)


		if (value !== undefined) {
			style['fillColor'] = color(value);
		} else {
			style['fillColor'] = '#000000';
			style['fillOpacity'] = 0.1;
		}

		return style;
	}


	let query ={
		format: 'geojson',
		shape_type: shape_type,
	};
	query_string = new URLSearchParams(query).toString();



	$.getJSON(`/api/shapes/geometry/?${query_string}`, function(data) {
		var m = L.geoJSON(data, {
			style: style,
			onEachFeature: function (feature, layer) {
				const p = feature.properties;
				layer.bindPopup(`<h5 class="mb-0">${p['name']}</h5>
				<p class="mt-0 mb-1">
				<small class="text-muted">${p['type']}</small>
				</p>
				Value: ${valuemap.get(p.id)}<br>
				<a href="${p['url']}" class="">Details</a>`);
			}
		}).addTo(map);
		map.fitBounds(m.getBounds());



		let legend = Legend(color, {
			title: '{{ datalayer.name}}{% if datalayer.format_suffix %} ({{ datalayer.format_suffix }}){% endif %}',
			{% if datalayer.value_type_str == 'percentage' %}
			tickFormat: '%'
			{%endif%}
		});
		document.getElementById('legend').innerHTML = "";
		document.getElementById('legend').appendChild(legend);


		map.fire('dataload');
	}).fail(function(data) {
		alert("Something went wrong during loading the geometry of the shape.");
		map.fire('dataload');
	});

	map.fire('dataloading');
});
</script>


<script>
var data = [
{% for type in datalayer.get_available_shape_types %}
	{
		x: [],
		y: [],
		mode: 'lines+markers',
		name: '{{ type.name}} (mean)'
	},
{% endfor %}
];

var layout = {
	title: '{{ datalayer.name }}',
	xaxis: {
		{% if datalayer.temporal_resolution_str == 'year' %}
		title: 'Year',
		type: 'category' // prevent extrapolating ticks between the years
		{% elif datalayer.temporal_resolution_str == 'date'  %}
		title: 'Date',
		{% else %}
		title: '{{ datalayer.temporal_resolution_str }}'
		{%endif %}
	},
	yaxis: {
		title: 'Value',
		automargin: true, // prevent tick labels from beeing cut off
		{# plotly tickformat is based on: https://d3js.org/d3-format #}
		{% if datalayer.value_type_str == 'percentage' %}
		tickformat: ',.{{ datalayer.format_precision }}%',
		range: [0,1]
		{% elif datalayer.value_type_str == 'value'  %}
		tickformat: ',.{{ datalayer.format_precision }}f',

		{% if datalayer.format_suffix %}
		ticksuffix: '{{ datalayer.format_suffix }}',
		{% endif %}

		{%endif %}
	},
	showlegend: true,
	legend: {
		orientation: "h",
		x: 0,
    	y: -0.2
	},
	margin: {
		l: 50,
		r: 10,
		b: 100,
		t: 50,
		pad: 4
	},
};

var config = {
	toImageButtonOptions: {
		filename: "{{ datalayer.name|slugify}}",
	},
	responsive: true
};

var chart = document.getElementById('chart')

Plotly.newPlot(chart, data, layout, config).then(function() {
{% for type in datalayer.get_available_shape_types %}
$.getJSON('/api/datalayers/plotly?datalayer_id={{datalayer.id}}&shape_type={{ type.key}}', function(response) {
	// inject lyout for the update as well. The xaxis.type seetings get's lost otherwise
	Plotly.update(chart, {
		x: [response.x],
		y: [response.y],
	}, layout, [{{ forloop.counter0 }}]);
});
{% endfor %}
});
</script>

{% endblock %}
