{% load i18n %}

<div class="datalayer-states datalayer-states--{{mode}}">
	<div class="datalayer-state datalayer-state--{% if datalayer.has_class %}active{%else%}inactive{%endif%}">

		{% if datalayer.has_class %}
			{% translate "Source file is available" as label %}
		{% else %}
			{% translate "Source file is not available" as label %}
		{% endif %}

		<span title="{{ label }}" class="datalayer-state-icon">{% icon "file-code" %}</span>

		{% if mode == 'large' %}
			<span class="datalayer-state-label">{{ label }}</span>

			{% if datalayer.has_class %}
				(<a href="#" data-bs-toggle="modal" data-bs-target="#modal-sourcecode">{% translate "Show file" %}</a>)

				<div class="modal" tabindex="-1" id="modal-sourcecode">
					<div class="modal-dialog modal-xl">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title">{{ datalayer.get_class_path }}</h5>
								<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="{% translate "Close" %}"></button>
							</div>
							<div class="modal-body">
								<pre><code class="language-python">{{ datalayer.get_class_source_code }}</code></pre>
							</div>
					  	</div>
					</div>
				</div>
			{% endif %}
		{% endif %}
	</div>

	<div class="datalayer-state datalayer-state--{% if datalayer.has_files %}active{%else%}inactive{%endif%}">

		{% if datalayer.has_files %}
			{% translate "Data is available locally" as label %}
		{% else %}
			{% translate "Data is not available locally" as label %}
		{% endif %}

		<span title="{{ label }}" class="datalayer-state-icon">{% icon "file-directory" %}</span>

		{% if mode == 'large' %}
			<span class="datalayer-state-label">{{ label }}</span>
		{% endif %}
	</div>

	<div class="datalayer-state datalayer-state--{% if datalayer.is_loaded %}active{%else%}inactive{%endif%}">

		{% if datalayer.is_loaded %}
			{% translate "Data is loaded into the database" as label %}
		{% else %}
			{% translate "Data is not loaded into the database" as label %}
		{% endif %}

		<span title="{{ label }}" class="datalayer-state-icon">{% icon "database" %}</span>

		{% if mode == 'large' %}
			<span class="datalayer-state-label">{{ label }}</span>
		{% endif %}
	</div>

</div>


