{% comment %}
SPDX-FileCopyrightText: 2025 Jonathan Ströbele <mail@jonathanstroebele.de>

SPDX-License-Identifier: AGPL-3.0-only
{% endcomment %}
{%comment%}
Empty template to allow other "apps" overwriting it to append their own nav items

Create the following template in your app: templates/app/nav.html:

{% extends "app/nav.html" %}
{% load i18n %}
{% block nav %}
	{{ block.super }}

	<li class="nav-item">
		<a class="nav-link" href="{% url 'your_app:url_name' %}">
			{% icon "book" %}
			{% translate "Your App" %}
		</a>
		<ul class="nav flex-column">
			<li class="nav-item">
				<a class="nav-link" href="{% url 'your_app:url_name' %}">{% translate "Link" %}</a>
			</li>
		</ul>
	</li>
{% endblock %}

{% endcomment %}
{% block nav %}{% endblock nav %}
