{% extends "base.html" %}
{% load humanize %}
{% load static %}

{% block content %}

	<h1>Dashboard</h1>

	<div class="card m-4 w-50 h-50 ms-0">
		<img class="card-img-top" src="../static/images/info_map_ex.png" alt="Card image cap">
		<div class="card-body">
			<h5 class="card-title">Data Coverage</h5>
			<p class="card-text">Visualize the data's density and coverage for a specific year using a heat map, an information ranking list, or a matrix.</p>
			<a href="{% url 'info_map' %}" class="card-link">Click Here!</a>
		</div>
	</div>

	<div class="d-flex justify-content-center">
		<div class="card m-4 w-50 h-50">
			<img class="card-img-top" src="../static/images/slider_ex.png" alt="Card image cap">
			<div class="card-body">
				<h5 class="card-title">Temporal Slider</h5>
				<p class="card-text">Overlap multiple data layers with customizable heat map colors and transparency, and compare the values of different data layers across various shapes using graphs.</p>
				<a href="{% url 'slider' %}" class="card-link">Click Here!</a>
			</div>
		</div>
	</div>

	<div class="card m-4 w-50 h-50 ms-auto">
		<img class="card-img-top" src="../static/images/temporal_trend_ex.png" alt="Card image cap">
		<div class="card-body">
			<h5 class="card-title">Data Coverage</h5>
			<p class="card-text">Visualize the connections and uncover patterns among various data layers using a normalized graph.</p>
			<a href="{% url 'temporal_trend' %}" class="card-link">Click Here!</a>
		</div>
	</div>
{% endblock %}
