{% extends "base.html" %}
{% load humanize %}
{% load static %}

{% block title %}Dashboard Home{% endblock %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'box.css' %}">
<h1>Dashboard</h1>

<div class="box-container">
    <a href="{% url 'temporal_trend_view' %}" class="box">
        <div class="box-title">Temporal Trend</div>
        <div class="box-info">See temporal trend of different data layers</div>
    </a>
	<div class="box">
        <div class="box-title">Time slider</div>
        <div class="box-info">See how data gradually changes over time</div>
    </div>
</div>

{% endblock %}
