{% extends "base.html" %}
{% load humanize %}
{% load static %}

{% block title %}Home{% endblock %}

{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'info_map.css' %}">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>

    <h1>Information Density Map</h1>

    <label for="year">Select Year:</label>
    <select id="year-dropdown">
        <option value="">>>> Select Year <<<</option>
        {% for year in years %}
            <option value="{{ year }}">{{ year }}</option>
        {% endfor %}
    </select>

	<button id="load-button">Load</button>

    <div id="map" style="height: 600px; width: 100%; margin-top: 20px;">
        <div id="loading-message">Loading, please wait...</div>
    </div>

	<h2>Information Ranking</h2>
	<ol id="ranking-list"></ol>

    <script>
		$(document).ready(function() {
			$('#year-dropdown').prop('selectedIndex', 0);
			$('loading-message').hide();
		});

        let map;
		let layerGroup = L.layerGroup();

		$(document).ready(function() {
			if (!map) {
				map = L.map('map').setView(
					[parseFloat("{{ datahub_center_y }}"), parseFloat("{{ datahub_center_x }}")],
					parseInt("{{ datahub_center_zoom }}")
				);

				L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
					attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
				}).addTo(map);

				layerGroup.addTo(map);

				addLegend();
			}
		});

		function addLegend() {
			const legend = L.control({ position: 'bottomright' });

			legend.onAdd = function (map) {
				const div = L.DomUtil.create('div', 'info legend');
				div.innerHTML = `
					<div class="legend-bar"></div>
					<div class="legend-labels">
						<span id="min-label"></span>
						<span id="max-label"></span>
					</div>
				`;
				return div;
			};

			legend.addTo(map);
		}


		$('#load-button').on('click', update_map);

		function update_map(parent_id) {
			$('#loading-message').show();
			const year = $('#year-dropdown').val();
			parent_id = parseInt(parent_id) || null;

			if (year) {
				setTimeout(() => {
					$.ajax({
						url: "{% url 'get_dl_count_for_year_shapes' %}",
						data: { 'parent_id': parent_id, 'year': year },
						success: function (response) {
							layerGroup.clearLayers();

							const dlCounts = response.shape_dlcount_dict;
							const geometries = response.geometries;
							const names = response.names;

							const values = Object.values(dlCounts);
							const minValue = Math.min(...values);
							const maxValue = Math.max(...values);

							updateLegend(minValue, maxValue);

							const shapeData = [];
							for (const shapeId in geometries) {
								const count = dlCounts[shapeId] || 0;
								const name = names[shapeId] || 'Unknown';
								shapeData.push({ id: shapeId, name, count });

								let geometry;

								if (typeof geometries[shapeId] === 'string') {
									geometry = JSON.parse(geometries[shapeId]);
								} else {
									geometry = geometries[shapeId];
								}

								const color = getColor(count, minValue, maxValue);

								const geoJsonFeature = {
									type: 'Feature',
									geometry: geometry,
									properties: { id: shapeId, name, count }
								};

								const geoJsonLayer = L.geoJSON(geoJsonFeature, {
									style: () => ({
										fillColor: color,
										weight: 2,
										opacity: 1,
										color: 'black',
										fillOpacity: 0.7
									}),
									onEachFeature: (feature, layer) => {
										layer.bindPopup(`<b>Name: ${feature.properties.name}</b><br>Value: ${feature.properties.count}`);
										layer.on('dblclick', function () {
											update_map(feature.properties.id);
										});
									}
								});

								geoJsonLayer.addTo(layerGroup);
							}

							shapeData.sort((a, b) => b.count - a.count);

							const rankingList = $('#ranking-list');
							rankingList.empty();
							shapeData.forEach((shape) => {
								rankingList.append(
									`<li><b>${shape.name}:</b> ${shape.count}</li>`
								);
							});

							$('#loading-message').hide();
						},
						error: function (xhr, status, error) {
							console.error('Error fetching data layer count:', error);
							$('#loading-message').hide();
						}
					});
				}, 300);
			} else {
				alert('Please select the year.');
				$('#loading-message').hide();
			}
		}

		function updateLegend(minValue, maxValue) {
			document.getElementById('min-label').textContent = Math.round(minValue);
			document.getElementById('max-label').textContent = Math.round(maxValue);
		}


        function getColor(value, minValue, maxValue) {
            const norm_val = (value - minValue) / (maxValue - minValue);
            if (norm_val > 0.8) return '#0c5143';
            if (norm_val > 0.6) return '#11735f';
            if (norm_val > 0.4) return '#16957c';
            if (norm_val > 0.2) return '#1bb898';
            return '#20dab4';
        }
    </script>
{% endblock %}
