{% comment %}
SPDX-FileCopyrightText: 2025 Jonathan Ströbele <mail@jonathanstroebele.de>

SPDX-License-Identifier: AGPL-3.0-only
{% endcomment %}

{% load i18n %}

<div class="modal" id="modal_api_{{ type.key }}" tabindex="-1" aria-labelledby="modal_api_{{ type.key }}_title" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5" id="modal_api_{{ type.key }}_title">{% translate "Shape API" %}</h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="{% translate "Close" %}"></button>
			</div>
			<div class="modal-body">

				<p>
					{% url 'api-1.0.0:openapi-view' as url %}
					{% blocktranslate with open_api_url=url %}
						The Shapes can be accessed via an API. Below you see minimal code snippets to query the data. For more information regarding the API please look at the <a href="{{ open_api_url }}">OpenAPI documentation</a>.
					{% endblocktranslate %}
				</p>

				<p>
					{% url 'app:settings' as url %}
					{% blocktranslate with settings_url=url %}
						You can generate the required API token on <a href="{{ settings_url }}">your settings page</a>.
					{% endblocktranslate %}
				</p>

				<div class="card">
					<div class="card-header">

						<ul class="nav nav-tabs card-header-tabs" role="tablist">
							<li class="nav-item" role="presentation">
								<button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#api_{{ type.key }}-python-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">Python</button>
							</li>
							<li class="nav-item" role="presentation">
								<button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#api_{{ type.key }}-r-pane" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">R</button>
							</li>
						</ul>


					</div>
					<div class="card-body">


						<div class="tab-content">
							<div class="tab-pane show active" id="api_{{ type.key }}-python-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0">

								<pre class="mb-0"><code class="language-python">import requests
from urllib.parse import urlencode
from io import BytesIO
import geopandas

# set host, like http://localhost:8000, to where your Data Hub is running
DH_HOST = ""
# Your personal API authentication token
# ATTENTION: tokens should not be included in production code!
# I.e, use a environment variable to store the token and set it like this:
# DH_TOKEN = os.environ["DH_TOKEN"]
DH_TOKEN = ""


def dh_shapes(query: dict):
    response = requests.get(
        f"{DH_HOST}/api/shapes/geometry?{urlencode(query)}",
        headers={"X-API-Key": DH_TOKEN}
    )
    if response.status_code == 200:
        gdf = geopandas.read_file(BytesIO(response.content))
        d = response.json()
    else:
        raise Exception(f"Request failed ({response.status_code}): {response.text}")
    return gdf

{{type.key}}_gdf = dh_shapes({
    "shape_type": "{{ type.key }}",

    # Simplify geometry to reduce complexity/size in unit of Shapes,
    # for WGS84 degree: 0.001 ~> 111.3m
    # https://shapely.readthedocs.io/en/latest/manual.html#object.simplify
    # "simplify": 0.01
})</code></pre>
							</div>

							<div class="tab-pane" id="api_{{ type.key }}-r-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">





<pre class="mb-0"><code class="language-r"># ===== LOAD LIBRARIES =====
library(httr)
library(sf)

# ===== CONFIGURATION =====
# set host, like http://localhost:8000, to where your Data Hub is running
DH_HOST <- ""

# Your personal API authentication token
# ATTENTION: tokens should not be added to production code!
# I.e, use a .Renviron file to store the token and set it like this:
# DH_TOKEN <- Sys.getenv("DH_TOKEN")
DH_TOKEN <- ""


# ===== MAIN FUNCTION =====
dh_shapes <- function(query_params) {
  response <- GET(
    url = paste0(DH_HOST, "/api/shapes/geometry"),
    query = query_params,
    add_headers("X-API-Key" = DH_TOKEN)
  )

  # Check if the request was successful (status code 200)
  if (status_code(response) != 200) {
    stop(sprintf("Request failed (%d): %s",
                 status_code(response),
                 content(response, "text")))
  }

  # reading GeoJSON
  gdf <- st_read(
    rawToChar(content(response, "raw")),
    quiet = TRUE
  )

  return(gdf)
}

# ===== EXAMPLE USAGE =====
{{type.key}}_gdf <- dh_shapes(list(
  shape_type = "{{type.key}}"
  # Simplify geometry to reduce complexity/size in unit of Shapes,
  # for WGS84 degree: 0.001 ~> 111.3m
  # https://shapely.readthedocs.io/en/latest/manual.html#object.simplify
  # "simplify": 0.01
  )
)

</code></pre>






							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
