{% extends "base.html" %}

{% comment %}
SPDX-FileCopyrightText: 2025 Jonathan Ströbele <mail@jonathanstroebele.de>

SPDX-License-Identifier: AGPL-3.0-only
{% endcomment %}

{% load i18n %}


{% block title %}{% translate "Settings" %}{% endblock %}

{% block content %}

<div class="m-pageheader d-md-flex flex-md-row-reverse align-items-center justify-content-between">
	<div class="d-grid gap-1 d-md-flex justify-content-md-end">

	</div>

	<h1>{% translate "Settings" %}</h1>
</div>



<div class="mb-3">

	<h2 class="h4 border-bottom">{% translate "Account" %}</h2>


	<div class="card">
		<div class="card-header">
			{% translate "Change password" %}
		  </div>
		<div class="card-body">

			<form method="post">
				{% csrf_token %}

				{% for field in password_form %}
					<div class="mb-3">
						<label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>


						<!-- add form-control class to the input -->

							{{ field }}



						<!-- field-level errors -->
						{% if field.errors %}
							{% for error in field.errors %}
								<div class="invalid-feedback d-block">{{ error }}</div>
							{% endfor %}
						{% endif %}

						{% if field.help_text %}
							<div class="form-text">{{ field.help_text }}</div>
						{% endif %}
					</div>
				{% endfor %}

				<button class="btn btn-primary" type="submit" name="change_password">{% translate "Change password" %}</button>
			</form>
		</div>
	</div>

</div>

<div>

	<h2 class="h4 border-bottom">{% translate "API tokens" %}</h2>

	<p>
		{% blocktranslate %}
		To access the Data Hub API you need to create an API token. You can create as many token as you need, for example one for each different applications/use-case.
		{% endblocktranslate %}
	</p>

	<table class="table table-sm">
		<thead>
			<tr>
				<th>{% translate "Created at" %}</th>
				<th>{% translate "Description" %}</th>
				<th class="text-end">{% translate "Action" %}</th>
			</tr>
		</thead>
		<tbody class="table-group-divider">
			{% for token in user.tokens.all %}
			<tr>
				<td>{{ token.created_at }}</td>
				<td>{{ token.description }}</td>
				<td>
					<div class="d-flex justify-content-end">
						<form action="{% url 'app:settings_delete_token' %}" method="post">
							{% csrf_token %}
							<input type="hidden" name="token-id" value="{{ token.id }}">
							<button class="btn btn-sm btn-outline-danger" type="submit">{% translate "Delete" %}</button>
						</form>
					</div>
				</td>
			</tr>
			{% empty %}
			<tr>
				<td colspan="2" class="text-muted fst-italic text-center">{% translate "No tokens created yet." %}</td>
			</tr>

			{% endfor %}
		</tbody>
	</table>

	<hr class="my-4">

	<div class="card">
		<div class="card-header">
			{% translate "Create new token" %}
		  </div>
		<div class="card-body">

			<form action="{% url 'app:settings_create_token' %}" method="post">
				{% csrf_token %}
				<div class="mb-3">
					<label for="token-description" class="form-label">{% translate "Token description/use-case" %}</label>
					<input name="description" type="text" required class="form-control" id="token-description" placeholder="">
				</div>

				<button type="submit" class="btn btn-primary">{% translate "Create new API token" %}</button>
			</form>
		</div>
	</div>

</div>

{% endblock %}
